In [71]:
import pandas as pd

**Employment rates by citizenship and sex**

---

EMPLOYMENT RATE - statistical ratio that measures the proportion of a country's working age population (statistics are often given for ages 15 to 64)
Citizenship: Foreign country, Reporting country, Total
Sex: Female, male, Total

In [72]:
df = pd.read_csv('../../data/employment_rates_by_sex_and_citizenship.csv')

In [73]:
df.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,unit,Unit of measure,sex,Sex,age,...,geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:LFSQ_ERGAN(1.0),"Employment rates by sex, age and citizenship (%)",Q,Quarterly,PC,Percentage,F,Females,Y15-64,...,AT,Austria,1998-Q1,NaN,57.6,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:LFSQ_ERGAN(1.0),"Employment rates by sex, age and citizenship (%)",Q,Quarterly,PC,Percentage,F,Females,Y15-64,...,AT,Austria,1999-Q1,NaN,55.7,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:LFSQ_ERGAN(1.0),"Employment rates by sex, age and citizenship (%)",Q,Quarterly,PC,Percentage,F,Females,Y15-64,...,AT,Austria,2000-Q1,NaN,58.6,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:LFSQ_ERGAN(1.0),"Employment rates by sex, age and citizenship (%)",Q,Quarterly,PC,Percentage,F,Females,Y15-64,...,AT,Austria,2000-Q2,NaN,57.5,NaN,NaN,NaN,NaN,NaN
4,dataflow,ESTAT:LFSQ_ERGAN(1.0),"Employment rates by sex, age and citizenship (%)",Q,Quarterly,PC,Percentage,F,Females,Y15-64,...,AT,Austria,2001-Q1,NaN,57.4,NaN,NaN,NaN,NaN,NaN

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28473 entries, 0 to 28472
Data columns (total 23 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   STRUCTURE                               28473 non-null  object
 1   STRUCTURE_ID                            28473 non-null  object
 2   STRUCTURE_NAME                          28473 non-null  object
 3   freq                                    28473 non-null  object
 4   Time frequency                          28473 non-null  object
 5   unit                                    28473 non-null  object
 6   Unit of measure                         28473 non-null  object
 7   sex                                     28473 non-null  object
 8   Sex                                     28473 non-null  object
 9   age                                     28473 non-null  object
 10  Age class                               28473 non-null  object
 11  citizen                                 28473 non-null  object
 12  Country of citizenship                  28473 non-null  object
 13  geo                                     28473 non-null  object
 14  Geopolitical entity (reporting)         28473 non-null  object
 15  TIME_PERIOD                             28473 non-null  object
 16  Time                                    0 non-null      float64
 17  OBS_VALUE                               27267 non-null  float64
 18  Observation value                       0 non-null      float64
 19  OBS_FLAG                                3232 non-null   object
 20  Observation status (Flag) V2 structure  3232 non-null   object
 21  CONF_STATUS                             0 non-null      float64
 22  Confidentiality status (flag)           0 non-null      float64
dtypes: float64(5), object(18)
memory usage: 5.0+ MB

In [75]:
df = df[["Country of citizenship", "Geopolitical entity (reporting)", "OBS_VALUE", "TIME_PERIOD", "Sex"]]

In [76]:
df.head()

,Country of citizenship,Geopolitical entity (reporting),OBS_VALUE,TIME_PERIOD,Sex
0,Foreign country,Austria,57.6,1998-Q1,Females
1,Foreign country,Austria,55.7,1999-Q1,Females
2,Foreign country,Austria,58.6,2000-Q1,Females
3,Foreign country,Austria,57.5,2000-Q2,Females
4,Foreign country,Austria,57.4,2001-Q1,Females

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28473 entries, 0 to 28472
Data columns (total 5 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country of citizenship           28473 non-null  object
 1   Geopolitical entity (reporting)  28473 non-null  object
 2   OBS_VALUE                        27267 non-null  float64
 3   TIME_PERIOD                      28473 non-null  object
 4   Sex                              28473 non-null  object
dtypes: float64(1), object(4)
memory usage: 1.1+ MB

In [78]:
df = df.rename(columns={
    "Geopolitical entity (reporting)": "geo",
    "TIME_PERIOD": "quarter",
    "OBS_VALUE": "employment_rate", 
    "Country of citizenship": "citizenship"
})

In [79]:
def quarter_to_datetime(q):
    year, qtr = q[:4], q[-1]
    month = {'1': '01', '2': '04', '3': '07', '4': '10'}.get(qtr, '01')
    return pd.to_datetime(f"{year}-{month}-01")

df['date'] = df['quarter'].apply(quarter_to_datetime)

df = df.sort_values(by=['geo', 'citizenship', 'Sex', 'date'])
df['employment_rate'] = df.groupby(['geo', 'citizenship', 'Sex'])['employment_rate']\
                                 .transform(lambda group: group.interpolate(method='linear').ffill().bfill())

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28473 entries, 0 to 28472
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   citizenship      28473 non-null  object
 1   geo              28473 non-null  object
 2   employment_rate  28333 non-null  float64
 3   quarter          28473 non-null  object
 4   Sex              28473 non-null  object
 5   date             28473 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 1.5+ MB

In [81]:
df.dropna(inplace=True)

In [82]:
df.head()

       citizenship      geo  employment_rate  quarter      Sex       date
0  Foreign country  Austria             57.6  1998-Q1  Females 1998-01-01
1  Foreign country  Austria             55.7  1999-Q1  Females 1999-01-01
2  Foreign country  Austria             58.6  2000-Q1  Females 2000-01-01
3  Foreign country  Austria             57.5  2000-Q2  Females 2000-04-01
4  Foreign country  Austria             57.4  2001-Q1  Females 2001-01-01

In [83]:
df.to_csv("../../processed_data/employmnet_rates.csv", index=False)

**Employment rates by citizenship and sex**

---
Annual data

In [85]:
an_df = pd.read_csv("../../data/employment_rates_yearly.csv")

In [86]:
an_df.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,unit,Unit of measure,sex,Sex,age,...,geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:LFSA_ERGAN(1.0),"Employment rates by sex, age and citizenship (%)",A,Annual,PC,Percentage,F,Females,Y15-64,...,AT,Austria,1995,NaN,59.3,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:LFSA_ERGAN(1.0),"Employment rates by sex, age and citizenship (%)",A,Annual,PC,Percentage,F,Females,Y15-64,...,AT,Austria,1996,NaN,55.4,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:LFSA_ERGAN(1.0),"Employment rates by sex, age and citizenship (%)",A,Annual,PC,Percentage,F,Females,Y15-64,...,AT,Austria,1997,NaN,57.7,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:LFSA_ERGAN(1.0),"Employment rates by sex, age and citizenship (%)",A,Annual,PC,Percentage,F,Females,Y15-64,...,AT,Austria,1998,NaN,57.6,NaN,NaN,NaN,NaN,NaN
4,dataflow,ESTAT:LFSA_ERGAN(1.0),"Employment rates by sex, age and citizenship (%)",A,Annual,PC,Percentage,F,Females,Y15-64,...,AT,Austria,1999,NaN,55.7,NaN,NaN,NaN,NaN,NaN

In [87]:
an_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7983 entries, 0 to 7982
Data columns (total 23 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   STRUCTURE                               7983 non-null   object
 1   STRUCTURE_ID                            7983 non-null   object
 2   STRUCTURE_NAME                          7983 non-null   object
 3   freq                                    7983 non-null   object
 4   Time frequency                          7983 non-null   object
 5   unit                                    7983 non-null   object
 6   Unit of measure                         7983 non-null   object
 7   sex                                     7983 non-null   object
 8   Sex                                     7983 non-null   object
 9   age                                     7983 non-null   object
 10  Age class                               7983 non-null   object
 11  citizen                                 7983 non-null   object
 12  Country of citizenship                  7983 non-null   object
 13  geo                                     7983 non-null   object
 14  Geopolitical entity (reporting)         7983 non-null   object
 15  TIME_PERIOD                             7983 non-null   int64
 16  Time                                    0 non-null      float64
 17  OBS_VALUE                               7795 non-null   float64
 18  Observation value                       0 non-null      float64
 19  OBS_FLAG                                1605 non-null   object
 20  Observation status (Flag) V2 structure  1605 non-null   object
 21  CONF_STATUS                             0 non-null      float64
 22  Confidentiality status (flag)           0 non-null      float64
dtypes: float64(5), int64(1), object(17)
memory usage: 1.4+ MB

In [88]:
an_df = an_df[["Country of citizenship", "Geopolitical entity (reporting)", "OBS_VALUE", "TIME_PERIOD", "Sex"]]

In [89]:
an_df.isna().sum()

Country of citizenship               0
Geopolitical entity (reporting)      0
OBS_VALUE                          188
TIME_PERIOD                          0
Sex                                  0
dtype: int64

In [90]:
an_df.head()

,Country of citizenship,Geopolitical entity (reporting),OBS_VALUE,TIME_PERIOD,Sex
0,Foreign country,Austria,59.3,1995,Females
1,Foreign country,Austria,55.4,1996,Females
2,Foreign country,Austria,57.7,1997,Females
3,Foreign country,Austria,57.6,1998,Females
4,Foreign country,Austria,55.7,1999,Females

In [91]:
an_df = an_df.rename(columns={
    "Geopolitical entity (reporting)": "geo",
    "TIME_PERIOD": "year",
    "OBS_VALUE": "employment_rate", 
    "Country of citizenship": "citizenship"
})

In [93]:
an_df = an_df.sort_values(by=['geo', 'citizenship', 'Sex', 'year'])
an_df['employment_rate'] = an_df.groupby(['geo', 'citizenship', 'Sex'])['employment_rate']\
                                 .transform(lambda group: group.interpolate(method='linear').ffill().bfill())

In [94]:
an_df.isna().sum()

citizenship         0
geo                 0
employment_rate    39
year                0
Sex                 0
dtype: int64

In [95]:
selected_countries = ["Poland", "Bulgaria", "Romania", "Hungary", "France", "Italy", "Germany", "Sweden", "Spain"]
temp = an_df[(an_df['geo'].isin(selected_countries)) & (an_df['year'] >= 2005)]

In [96]:
temp[(temp['citizenship'] == 'Foreign country') & (temp['geo'] == 'Bulgaria')]

          citizenship       geo  employment_rate  year      Sex
68    Foreign country  Bulgaria              NaN  2005  Females
69    Foreign country  Bulgaria              NaN  2006  Females
70    Foreign country  Bulgaria              NaN  2007  Females
71    Foreign country  Bulgaria              NaN  2008  Females
72    Foreign country  Bulgaria              NaN  2009  Females
73    Foreign country  Bulgaria              NaN  2010  Females
74    Foreign country  Bulgaria              NaN  2011  Females
75    Foreign country  Bulgaria              NaN  2012  Females
76    Foreign country  Bulgaria              NaN  2013  Females
77    Foreign country  Bulgaria              NaN  2014  Females
78    Foreign country  Bulgaria              NaN  2015  Females
79    Foreign country  Bulgaria              NaN  2016  Females
80    Foreign country  Bulgaria              NaN  2017  Females
81    Foreign country  Bulgaria              NaN  2018  Females
82    Foreign country  Bulgaria              NaN  2019  Females
83    Foreign country  Bulgaria              NaN  2020  Females
84    Foreign country  Bulgaria              NaN  2021  Females
85    Foreign country  Bulgaria              NaN  2022  Females
86    Foreign country  Bulgaria              NaN  2023  Females
87    Foreign country  Bulgaria              NaN  2024  Females
2729  Foreign country  Bulgaria            66.40  2005    Males
2730  Foreign country  Bulgaria            66.40  2006    Males
2731  Foreign country  Bulgaria            66.40  2007    Males
2732  Foreign country  Bulgaria            66.40  2008    Males
2733  Foreign country  Bulgaria            66.40  2009    Males
2734  Foreign country  Bulgaria            66.40  2010    Males
2735  Foreign country  Bulgaria            66.40  2011    Males
2736  Foreign country  Bulgaria            66.40  2012    Males
2737  Foreign country  Bulgaria            66.40  2013    Males
2738  Foreign country  Bulgaria            66.40  2014    Males
2739  Foreign country  Bulgaria            66.40  2015    Males
2740  Foreign country  Bulgaria            66.40  2016    Males
2741  Foreign country  Bulgaria            67.00  2017    Males
2742  Foreign country  Bulgaria            73.30  2018    Males
2743  Foreign country  Bulgaria            73.05  2019    Males
2744  Foreign country  Bulgaria            72.80  2020    Males
2745  Foreign country  Bulgaria            72.55  2021    Males
2746  Foreign country  Bulgaria            72.30  2022    Males
2747  Foreign country  Bulgaria            72.05  2023    Males
2748  Foreign country  Bulgaria            71.80  2024    Males
5390  Foreign country  Bulgaria            38.70  2005    Total
5391  Foreign country  Bulgaria            52.50  2006    Total
5392  Foreign country  Bulgaria            58.30  2007    Total
5393  Foreign country  Bulgaria            48.30  2008    Total
5394  Foreign country  Bulgaria            41.30  2009    Total
5395  Foreign country  Bulgaria            41.40  2010    Total
5396  Foreign country  Bulgaria            45.00  2011    Total
5397  Foreign country  Bulgaria            60.30  2012    Total
5398  Foreign country  Bulgaria            51.70  2013    Total
5399  Foreign country  Bulgaria            52.10  2014    Total
5400  Foreign country  Bulgaria            44.80  2015    Total
5401  Foreign country  Bulgaria            54.10  2016    Total
5402  Foreign country  Bulgaria            53.30  2017    Total
5403  Foreign country  Bulgaria            53.90  2018    Total
5404  Foreign country  Bulgaria            56.10  2019    Total
5405  Foreign country  Bulgaria            55.65  2020    Total
5406  Foreign country  Bulgaria            55.20  2021    Total
5407  Foreign country  Bulgaria            51.10  2022    Total
5408  Foreign country  Bulgaria            54.50  2023    Total
5409  Foreign country  Bulgaria            50.90  2024    Total

Dla Sex == Total są dane dla prawie wszystkich lat

In [97]:
temp[(temp['citizenship'] == 'Foreign country') & (temp['geo'] == 'Romania')]

          citizenship      geo  employment_rate  year      Sex
724   Foreign country  Romania        56.500000  2005  Females
725   Foreign country  Romania        56.500000  2006  Females
726   Foreign country  Romania        56.500000  2007  Females
727   Foreign country  Romania        56.500000  2008  Females
728   Foreign country  Romania        56.500000  2009  Females
729   Foreign country  Romania        56.500000  2010  Females
730   Foreign country  Romania        56.500000  2011  Females
731   Foreign country  Romania        56.500000  2012  Females
732   Foreign country  Romania        56.500000  2013  Females
733   Foreign country  Romania        56.500000  2014  Females
734   Foreign country  Romania        56.500000  2015  Females
735   Foreign country  Romania        56.500000  2016  Females
736   Foreign country  Romania        56.500000  2017  Females
737   Foreign country  Romania        56.500000  2018  Females
738   Foreign country  Romania        56.500000  2019  Females
739   Foreign country  Romania        56.500000  2020  Females
740   Foreign country  Romania        56.500000  2021  Females
741   Foreign country  Romania        56.500000  2022  Females
742   Foreign country  Romania        56.500000  2023  Females
743   Foreign country  Romania        56.500000  2024  Females
3385  Foreign country  Romania        77.300000  2005    Males
3386  Foreign country  Romania        77.300000  2006    Males
3387  Foreign country  Romania        72.300000  2007    Males
3388  Foreign country  Romania        70.900000  2008    Males
3389  Foreign country  Romania        79.300000  2009    Males
3390  Foreign country  Romania        78.677778  2010    Males
3391  Foreign country  Romania        78.055556  2011    Males
3392  Foreign country  Romania        77.433333  2012    Males
3393  Foreign country  Romania        76.811111  2013    Males
3394  Foreign country  Romania        76.188889  2014    Males
3395  Foreign country  Romania        75.566667  2015    Males
3396  Foreign country  Romania        74.944444  2016    Males
3397  Foreign country  Romania        74.322222  2017    Males
3398  Foreign country  Romania        73.700000  2018    Males
3399  Foreign country  Romania        70.333333  2019    Males
3400  Foreign country  Romania        66.966667  2020    Males
3401  Foreign country  Romania        63.600000  2021    Males
3402  Foreign country  Romania        79.500000  2022    Males
3403  Foreign country  Romania        80.900000  2023    Males
3404  Foreign country  Romania        81.100000  2024    Males
6046  Foreign country  Romania        60.100000  2005    Total
6047  Foreign country  Romania        68.300000  2006    Total
6048  Foreign country  Romania        64.800000  2007    Total
6049  Foreign country  Romania        58.800000  2008    Total
6050  Foreign country  Romania        62.900000  2009    Total
6051  Foreign country  Romania        63.562500  2010    Total
6052  Foreign country  Romania        64.225000  2011    Total
6053  Foreign country  Romania        64.887500  2012    Total
6054  Foreign country  Romania        65.550000  2013    Total
6055  Foreign country  Romania        66.212500  2014    Total
6056  Foreign country  Romania        66.875000  2015    Total
6057  Foreign country  Romania        67.537500  2016    Total
6058  Foreign country  Romania        68.200000  2017    Total
6059  Foreign country  Romania        68.600000  2018    Total
6060  Foreign country  Romania        65.466667  2019    Total
6061  Foreign country  Romania        62.333333  2020    Total
6062  Foreign country  Romania        59.200000  2021    Total
6063  Foreign country  Romania        65.800000  2022    Total
6064  Foreign country  Romania        64.800000  2023    Total
6065  Foreign country  Romania        67.100000  2024    Total

In [98]:
an_df.to_csv("../../processed_data/employmnet_rates_yearly.csv", index=False)