In [32]:
import pandas as pd

**Employment (1 000)**

---
* Employment by citizenship in thousand persons
https://ec.europa.eu/eurostat/databrowser/view/lfsa_egan/default/table?lang=en
* Citizenship: Total
* Sex: Total, Females, Males

In [34]:
df = pd.read_csv('../../data/employment_by_citizenship.csv')

In [35]:
df.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,unit,Unit of measure,sex,Sex,age,...,geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:LFSA_EGAN(1.0),"Employment by sex, age and citizenship (1 000)",A,Annual,THS_PER,Thousand persons,F,Females,Y15-64,...,AT,Austria,1995,NaN,1570.0,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:LFSA_EGAN(1.0),"Employment by sex, age and citizenship (1 000)",A,Annual,THS_PER,Thousand persons,F,Females,Y15-64,...,AT,Austria,1996,NaN,1555.1,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:LFSA_EGAN(1.0),"Employment by sex, age and citizenship (1 000)",A,Annual,THS_PER,Thousand persons,F,Females,Y15-64,...,AT,Austria,1997,NaN,1557.1,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:LFSA_EGAN(1.0),"Employment by sex, age and citizenship (1 000)",A,Annual,THS_PER,Thousand persons,F,Females,Y15-64,...,AT,Austria,1998,NaN,1574.3,NaN,NaN,NaN,NaN,NaN
4,dataflow,ESTAT:LFSA_EGAN(1.0),"Employment by sex, age and citizenship (1 000)",A,Annual,THS_PER,Thousand persons,F,Females,Y15-64,...,AT,Austria,1999,NaN,1600.4,NaN,NaN,NaN,NaN,NaN

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2841 entries, 0 to 2840
Data columns (total 23 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   STRUCTURE                               2841 non-null   object
 1   STRUCTURE_ID                            2841 non-null   object
 2   STRUCTURE_NAME                          2841 non-null   object
 3   freq                                    2841 non-null   object
 4   Time frequency                          2841 non-null   object
 5   unit                                    2841 non-null   object
 6   Unit of measure                         2841 non-null   object
 7   sex                                     2841 non-null   object
 8   Sex                                     2841 non-null   object
 9   age                                     2841 non-null   object
 10  Age class                               2841 non-null   object
 11  citizen                                 2841 non-null   object
 12  Country of citizenship                  2841 non-null   object
 13  geo                                     2841 non-null   object
 14  Geopolitical entity (reporting)         2841 non-null   object
 15  TIME_PERIOD                             2841 non-null   int64
 16  Time                                    0 non-null      float64
 17  OBS_VALUE                               2841 non-null   float64
 18  Observation value                       0 non-null      float64
 19  OBS_FLAG                                453 non-null    object
 20  Observation status (Flag) V2 structure  453 non-null    object
 21  CONF_STATUS                             0 non-null      float64
 22  Confidentiality status (flag)           0 non-null      float64
dtypes: float64(5), int64(1), object(17)
memory usage: 510.6+ KB

In [37]:
df = df[['Geopolitical entity (reporting)', 'OBS_VALUE', 'TIME_PERIOD', 'Sex']]

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2841 entries, 0 to 2840
Data columns (total 4 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Geopolitical entity (reporting)  2841 non-null   object
 1   OBS_VALUE                        2841 non-null   float64
 2   TIME_PERIOD                      2841 non-null   int64
 3   Sex                              2841 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 88.9+ KB

In [40]:
df.tail()

     Geopolitical entity (reporting)  OBS_VALUE  TIME_PERIOD    Sex
2836                  United Kingdom    30019.6         2015  Total
2837                  United Kingdom    30443.6         2016  Total
2838                  United Kingdom    30785.5         2017  Total
2839                  United Kingdom    31112.0         2018  Total
2840                  United Kingdom    31382.2         2019  Total

In [41]:
df = df.rename(columns={"OBS_VALUE": "Number in 1000 persons", "Geopolitical entity (reporting)": "geo", "TIME_PERIOD": "year"})

In [42]:
df.head()

       geo  Number in 1000 persons  year      Sex
0  Austria                  1570.0  1995  Females
1  Austria                  1555.1  1996  Females
2  Austria                  1557.1  1997  Females
3  Austria                  1574.3  1998  Females
4  Austria                  1600.4  1999  Females

In [43]:
df.to_csv("../../processed_data/employment_by_citizenship.csv", index=False)