In [25]:
import pandas as pd

**Employment by sex, age and citizenship (1 000)**

---
Employment by citizenship per thousand people
https://ec.europa.eu/eurostat/databrowser/view/lfsa_egan/default/table?lang=en

In [26]:
df = pd.read_csv('../../data/employment_by_citizenship_lfsa_egan.csv')

In [27]:
df.head()

,DATAFLOW,LAST UPDATE,freq,unit,sex,age,citizen,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:LFSA_EGAN(1.0),12/12/24 23:00:00,Annual,Thousand persons,Females,From 15 to 64 years,EU27 countries (from 2020) except reporting co...,Austria,2014,149.5,NaN,NaN
1,ESTAT:LFSA_EGAN(1.0),12/12/24 23:00:00,Annual,Thousand persons,Females,From 15 to 64 years,EU27 countries (from 2020) except reporting co...,Austria,2015,154.5,NaN,NaN
2,ESTAT:LFSA_EGAN(1.0),12/12/24 23:00:00,Annual,Thousand persons,Females,From 15 to 64 years,EU27 countries (from 2020) except reporting co...,Austria,2016,170.6,NaN,NaN
3,ESTAT:LFSA_EGAN(1.0),12/12/24 23:00:00,Annual,Thousand persons,Females,From 15 to 64 years,EU27 countries (from 2020) except reporting co...,Austria,2017,179.3,NaN,NaN
4,ESTAT:LFSA_EGAN(1.0),12/12/24 23:00:00,Annual,Thousand persons,Females,From 15 to 64 years,EU27 countries (from 2020) except reporting co...,Austria,2018,189.1,NaN,NaN

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6116 entries, 0 to 6115
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     6116 non-null   object
 1   LAST UPDATE  6116 non-null   object
 2   freq         6116 non-null   object
 3   unit         6116 non-null   object
 4   sex          6116 non-null   object
 5   age          6116 non-null   object
 6   citizen      6116 non-null   object
 7   geo          6116 non-null   object
 8   TIME_PERIOD  6116 non-null   int64
 9   OBS_VALUE    5279 non-null   float64
 10  OBS_FLAG     1992 non-null   object
 11  CONF_STATUS  0 non-null      float64
dtypes: float64(2), int64(1), object(9)
memory usage: 573.5+ KB

In [29]:
columns_to_drop = ["OBS_FLAG", "DATAFLOW", "CONF_STATUS", "freq", "incgrp", "unit", "LAST UPDATE"]
df = df.drop(columns=[col for col in columns_to_drop if col in df.columns])

In [30]:
df = df.dropna()

In [31]:
for col in df.columns:
    print(f"Uniques values in {col}: {df[col].unique()}")

Uniques values in sex: ['Females' 'Males' 'Total']
Uniques values in age: ['From 15 to 64 years']
Uniques values in citizen: ['EU27 countries (from 2020) except reporting country' 'Foreign country'
 'Reporting country'
 'Non-EU27 countries (from 2020) nor reporting country' 'No response'
 'Stateless' 'Total']
Uniques values in geo: ['Austria' 'Belgium' 'Switzerland' 'Cyprus' 'Czechia' 'Germany' 'Denmark'
 'Euro area – 20 countries (from 2023)' 'Estonia' 'Greece' 'Spain'
 'European Union - 27 countries (from 2020)' 'Finland' 'France' 'Croatia'
 'Hungary' 'Ireland' 'Iceland' 'Italy' 'Lithuania' 'Luxembourg' 'Malta'
 'Netherlands' 'Norway' 'Poland' 'Portugal' 'Serbia' 'Sweden' 'Slovenia'
 'Slovakia' 'United Kingdom' 'Bosnia and Herzegovina' 'Latvia'
 'Montenegro' 'North Macedonia' 'Bulgaria' 'Romania' 'Türkiye']
Uniques values in TIME_PERIOD: [2014 2015 2016 2017 2018 2019 2020 2021 2022 2023]
Uniques values in OBS_VALUE: [  149.5   154.5   170.6 ... 30785.5 31112.  31382.2]

In [32]:
df = df[~df["geo"].isin(['European Union - 27 countries (from 2020)',
                         'Euro area (EA11-1999, EA12-2001, EA13-2007, EA15-2008, EA16-2009, EA17-2011, EA18-2014, EA19-2015, EA20-2023)',
                         'Euro area - 17 countries (2011-2013)',
                         'European Union (EU6-1958, EU9-1973, EU10-1981, EU12-1986, EU15-1995, EU25-2004, EU27-2007, EU28-2013, EU27-2020)',
                         'European Union - 15 countries (1995-2004)',
                         'European Union - 27 countries (2007-2013)',
                         'European Union - 27 countries (from 2020)',
                         'European Union - 28 countries (2013-2020)'
                         'Euro area - 19 countries  (2015-2022)',
                         'Euro area – 20 countries (from 2023)',
                         'Euro area - 18 countries (2014)',
                         'Euro area - 19 countries  (2015-2022)',
                         'European Union - 28 countries (2013-2020)'
                         ])]

columns_to_drop = ["freq", "indic_de", "statinfo", "age", "unit", 'isced11']
df = df.drop(columns=[col for col in columns_to_drop if col in df.columns])

In [33]:
for col in df.columns:
    print(f"Uniques values in {col}: {df[col].unique()}")

Uniques values in sex: ['Females' 'Males' 'Total']
Uniques values in citizen: ['EU27 countries (from 2020) except reporting country' 'Foreign country'
 'Reporting country'
 'Non-EU27 countries (from 2020) nor reporting country' 'No response'
 'Stateless' 'Total']
Uniques values in geo: ['Austria' 'Belgium' 'Switzerland' 'Cyprus' 'Czechia' 'Germany' 'Denmark'
 'Estonia' 'Greece' 'Spain' 'Finland' 'France' 'Croatia' 'Hungary'
 'Ireland' 'Iceland' 'Italy' 'Lithuania' 'Luxembourg' 'Malta'
 'Netherlands' 'Norway' 'Poland' 'Portugal' 'Serbia' 'Sweden' 'Slovenia'
 'Slovakia' 'United Kingdom' 'Bosnia and Herzegovina' 'Latvia'
 'Montenegro' 'North Macedonia' 'Bulgaria' 'Romania' 'Türkiye']
Uniques values in TIME_PERIOD: [2014 2015 2016 2017 2018 2019 2020 2021 2022 2023]
Uniques values in OBS_VALUE: [  149.5   154.5   170.6 ... 30785.5 31112.  31382.2]

In [ ]:
df = df.rename(columns={"OBS_VALUE": "Number per 1000 people"})

In [35]:
df.to_csv("../../processed_data/employment_by_citizenship_lfsa_egan.csv", index=False)