In [15]:
import pandas as pd

Population by sex, age, citizenship and labour status (1 000) \
In thousand persons!

In [16]:
df = pd.read_csv('../../data/population_by_sex_age_labour_status_foreigners.csv')

In [17]:
df.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,unit,Unit of measure,sex,Sex,citizen,...,geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:LFSA_PGANWS(1.0),"Population by sex, age, citizenship and labour...",A,Annual,THS_PER,Thousand persons,F,Females,FOR,...,AT,Austria,2014,NaN,244.8,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:LFSA_PGANWS(1.0),"Population by sex, age, citizenship and labour...",A,Annual,THS_PER,Thousand persons,F,Females,FOR,...,AT,Austria,2015,NaN,253.2,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:LFSA_PGANWS(1.0),"Population by sex, age, citizenship and labour...",A,Annual,THS_PER,Thousand persons,F,Females,FOR,...,AT,Austria,2016,NaN,282.5,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:LFSA_PGANWS(1.0),"Population by sex, age, citizenship and labour...",A,Annual,THS_PER,Thousand persons,F,Females,FOR,...,AT,Austria,2017,NaN,293.7,NaN,NaN,NaN,NaN,NaN
4,dataflow,ESTAT:LFSA_PGANWS(1.0),"Population by sex, age, citizenship and labour...",A,Annual,THS_PER,Thousand persons,F,Females,FOR,...,AT,Austria,2018,NaN,311.2,NaN,NaN,NaN,NaN,NaN

In [18]:
df.columns

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'freq', 'Time frequency',
       'unit', 'Unit of measure', 'sex', 'Sex', 'citizen',
       'Country of citizenship', 'age', 'Age class', 'wstatus',
       'Labour force and employment status', 'geo',
       'Geopolitical entity (reporting)', 'TIME_PERIOD', 'Time', 'OBS_VALUE',
       'Observation value', 'OBS_FLAG',
       'Observation status (Flag) V2 structure', 'CONF_STATUS',
       'Confidentiality status (flag)'],
      dtype='object')

In [19]:
df = df[['Sex', 'Labour force and employment status', 'Geopolitical entity (reporting)', 'TIME_PERIOD', 'OBS_VALUE']]

In [20]:
df.head()

,Sex,Labour force and employment status,Geopolitical entity (reporting),TIME_PERIOD,OBS_VALUE
0,Females,Employed persons,Austria,2014,244.8
1,Females,Employed persons,Austria,2015,253.2
2,Females,Employed persons,Austria,2016,282.5
3,Females,Employed persons,Austria,2017,293.7
4,Females,Employed persons,Austria,2018,311.2

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3258 entries, 0 to 3257
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Sex                                 3258 non-null   object
 1   Labour force and employment status  3258 non-null   object
 2   Geopolitical entity (reporting)     3258 non-null   object
 3   TIME_PERIOD                         3258 non-null   int64
 4   OBS_VALUE                           2798 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 127.4+ KB

In [22]:
df['TIME_PERIOD'].unique()

array([2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024])

In [23]:
df[df['Sex']=='Total'].info() # dla Total nie ma już tak dużo brakujących wartości

<class 'pandas.core.frame.DataFrame'>
Index: 1093 entries, 2165 to 3257
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Sex                                 1093 non-null   object
 1   Labour force and employment status  1093 non-null   object
 2   Geopolitical entity (reporting)     1093 non-null   object
 3   TIME_PERIOD                         1093 non-null   int64
 4   OBS_VALUE                           984 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 51.2+ KB

In [24]:
df = df.dropna()

In [25]:
df = df.rename(columns={
    'Labour force and employment status': 'Employment status',
    'Geopolitical entity (reporting)': 'geo', 
    'TIME_PERIOD': 'year',
    'OBS_VALUE': 'In thousands'
})

In [26]:
df.to_csv("../../processed_data/employment_status_foreigners.csv", index=False)