In [20]:
import pandas as pd

**Employment rates by citizenship and sex**

---

EMPLOYMENT RATE - statistical ratio that measures the proportion of a country's working age population (statistics are often given for ages 15 to 64)
Citizenship: Foreign country, Reporting country, Total
Sex: Female, male, Total

In [21]:
df = pd.read_csv('../../data/employment_rates_by_sex_and_citizenship.csv')

In [22]:
df.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,unit,Unit of measure,sex,Sex,age,...,geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:LFSQ_ERGAN(1.0),"Employment rates by sex, age and citizenship (%)",Q,Quarterly,PC,Percentage,F,Females,Y15-64,...,AT,Austria,1998-Q1,NaN,57.6,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:LFSQ_ERGAN(1.0),"Employment rates by sex, age and citizenship (%)",Q,Quarterly,PC,Percentage,F,Females,Y15-64,...,AT,Austria,1999-Q1,NaN,55.7,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:LFSQ_ERGAN(1.0),"Employment rates by sex, age and citizenship (%)",Q,Quarterly,PC,Percentage,F,Females,Y15-64,...,AT,Austria,2000-Q1,NaN,58.6,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:LFSQ_ERGAN(1.0),"Employment rates by sex, age and citizenship (%)",Q,Quarterly,PC,Percentage,F,Females,Y15-64,...,AT,Austria,2000-Q2,NaN,57.5,NaN,NaN,NaN,NaN,NaN
4,dataflow,ESTAT:LFSQ_ERGAN(1.0),"Employment rates by sex, age and citizenship (%)",Q,Quarterly,PC,Percentage,F,Females,Y15-64,...,AT,Austria,2001-Q1,NaN,57.4,NaN,NaN,NaN,NaN,NaN

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28473 entries, 0 to 28472
Data columns (total 23 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   STRUCTURE                               28473 non-null  object
 1   STRUCTURE_ID                            28473 non-null  object
 2   STRUCTURE_NAME                          28473 non-null  object
 3   freq                                    28473 non-null  object
 4   Time frequency                          28473 non-null  object
 5   unit                                    28473 non-null  object
 6   Unit of measure                         28473 non-null  object
 7   sex                                     28473 non-null  object
 8   Sex                                     28473 non-null  object
 9   age                                     28473 non-null  object
 10  Age class                               28473 non-null  object
 11  citizen                                 28473 non-null  object
 12  Country of citizenship                  28473 non-null  object
 13  geo                                     28473 non-null  object
 14  Geopolitical entity (reporting)         28473 non-null  object
 15  TIME_PERIOD                             28473 non-null  object
 16  Time                                    0 non-null      float64
 17  OBS_VALUE                               27267 non-null  float64
 18  Observation value                       0 non-null      float64
 19  OBS_FLAG                                3232 non-null   object
 20  Observation status (Flag) V2 structure  3232 non-null   object
 21  CONF_STATUS                             0 non-null      float64
 22  Confidentiality status (flag)           0 non-null      float64
dtypes: float64(5), object(18)
memory usage: 5.0+ MB

In [24]:
df = df[["Country of citizenship", "Geopolitical entity (reporting)", "OBS_VALUE", "TIME_PERIOD", "Sex"]]

In [25]:
df.head()

,Country of citizenship,Geopolitical entity (reporting),OBS_VALUE,TIME_PERIOD,Sex
0,Foreign country,Austria,57.6,1998-Q1,Females
1,Foreign country,Austria,55.7,1999-Q1,Females
2,Foreign country,Austria,58.6,2000-Q1,Females
3,Foreign country,Austria,57.5,2000-Q2,Females
4,Foreign country,Austria,57.4,2001-Q1,Females

In [26]:
df.dropna(inplace=True)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27267 entries, 0 to 28472
Data columns (total 5 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country of citizenship           27267 non-null  object
 1   Geopolitical entity (reporting)  27267 non-null  object
 2   OBS_VALUE                        27267 non-null  float64
 3   TIME_PERIOD                      27267 non-null  object
 4   Sex                              27267 non-null  object
dtypes: float64(1), object(4)
memory usage: 1.2+ MB

In [28]:
df = df.rename(columns={
    "Geopolitical entity (reporting)": "geo",
    "TIME_PERIOD": "quarter",
    "OBS_VALUE": "employment_rate", 
    "Country of citizenship": "citizenship"
})

In [29]:
df.to_csv("../../processed_data/employmnet_rates.csv", index=False)