In [125]:
import pandas as pd

**Level of trust**

---

Average of level of trust by sex, age, educational attainment and domain
https://ec.europa.eu/eurostat/databrowser/view/ilc_pw03b$dv_2763/default/table?lang=en&category=qol.qol_gov.qol_gov_ins

In [126]:
df = pd.read_csv('../../data/level_of_trust.csv')

In [127]:
df.head()

,DATAFLOW,LAST UPDATE,freq,domain,statinfo,isced11,sex,age,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:ILC_PW03B$DV_2763(1.0),22/08/24 23:00:00,Annual,Legal system,Average,"Less than primary, primary and lower secondary...",Total,16 years or over,Rating (0-10),Austria,2013,5.7,NaN,NaN
1,ESTAT:ILC_PW03B$DV_2763(1.0),22/08/24 23:00:00,Annual,Legal system,Average,"Less than primary, primary and lower secondary...",Total,16 years or over,Rating (0-10),Belgium,2013,4.7,NaN,NaN
2,ESTAT:ILC_PW03B$DV_2763(1.0),22/08/24 23:00:00,Annual,Legal system,Average,"Less than primary, primary and lower secondary...",Total,16 years or over,Rating (0-10),Bulgaria,2013,2.8,NaN,NaN
3,ESTAT:ILC_PW03B$DV_2763(1.0),22/08/24 23:00:00,Annual,Legal system,Average,"Less than primary, primary and lower secondary...",Total,16 years or over,Rating (0-10),Switzerland,2013,6.8,NaN,NaN
4,ESTAT:ILC_PW03B$DV_2763(1.0),22/08/24 23:00:00,Annual,Legal system,Average,"Less than primary, primary and lower secondary...",Total,16 years or over,Rating (0-10),Cyprus,2013,3.5,NaN,NaN

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 428 entries, 0 to 427
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     428 non-null    object
 1   LAST UPDATE  428 non-null    object
 2   freq         428 non-null    object
 3   domain       428 non-null    object
 4   statinfo     428 non-null    object
 5   isced11      428 non-null    object
 6   sex          428 non-null    object
 7   age          428 non-null    object
 8   unit         428 non-null    object
 9   geo          428 non-null    object
 10  TIME_PERIOD  428 non-null    int64
 11  OBS_VALUE    428 non-null    float64
 12  OBS_FLAG     0 non-null      float64
 13  CONF_STATUS  0 non-null      float64
dtypes: float64(3), int64(1), object(10)
memory usage: 46.9+ KB

In [129]:
columns_to_drop = ["DATAFLOW", "LAST UPDATE", "OBS_FLAG", "CONF_STATUS"]
df = df.drop(columns=[col for col in columns_to_drop if col in df.columns])

In [130]:
df = df.dropna()

In [131]:
for col in df.columns:
    print(f"Uniques values in {col}: {df[col].unique()}")

Uniques values in freq: ['Annual']
Uniques values in domain: ['Legal system' 'Police' 'Political system']
Uniques values in statinfo: ['Average']
Uniques values in isced11: ['Less than primary, primary and lower secondary education (levels 0-2)'
 'Upper secondary and post-secondary non-tertiary education (levels 3 and 4)'
 "Short-cycle tertiary education and Bachelor's or equivalent level (levels 5 and 6)"
 'All ISCED 2011 levels']
Uniques values in sex: ['Total']
Uniques values in age: ['16 years or over']
Uniques values in unit: ['Rating (0-10)']
Uniques values in geo: ['Austria' 'Belgium' 'Bulgaria' 'Switzerland' 'Cyprus' 'Czechia' 'Germany'
 'Denmark' 'Estonia' 'Greece' 'Spain'
 'European Union - 27 countries (from 2020)' 'Finland' 'France' 'Croatia'
 'Hungary' 'Ireland' 'Iceland' 'Italy' 'Lithuania' 'Luxembourg' 'Latvia'
 'Montenegro' 'North Macedonia' 'Malta' 'Netherlands' 'Norway' 'Poland'
 'Portugal' 'Romania' 'Serbia' 'Sweden' 'Slovenia' 'Slovakia' 'Türkiye'
 'United Kingdom']
Uniques values in TIME_PERIOD: [2013]
Uniques values in OBS_VALUE: [5.7 4.7 2.8 6.8 3.5 3.6 4.9 7.  4.2 4.  6.9 4.1 3.1 4.8 5.2 3.4 4.4 4.5
 5.6 6.6 2.4 5.5 5.9 2.9 3.7 5.1 7.5 5.  3.2 4.6 6.1 5.8 6.5 2.6 7.3 7.9
 7.6 3.8 6.2 4.3 3.3 3.  6.  5.3 7.2 6.7 2.7 5.4 7.1 7.7 8.  6.3 6.4 7.4
 8.1 7.8 8.4 8.2 1.9 1.8 1.5 1.6 2.5 2.  2.2 1.7 2.1 3.9 2.3]

In [132]:
df = df[df["geo"] != 'European Union - 27 countries (from 2020)']

columns_to_drop = ["freq", "indic_de", "statinfo", "age", "unit", 'isced11']
df = df.drop(columns=[col for col in columns_to_drop if col in df.columns])

In [133]:
df["OBS_VALUE"] = df["OBS_VALUE"] * 10
df = df.rename(columns={"OBS_VALUE": "Level of trust in %", "TIME_PERIOD": "Time period"})

In [134]:
df.to_csv("../../processed_data/level_of_trust.csv", index=False)