In [1]:
import pandas as pd

**Population on 1 January by age group, sex and citizenship**

---

In [2]:
df = pd.read_csv('../../data/population_by_citizenship_migr_pop1ctz.csv')

In [3]:
df.head()

,DATAFLOW,LAST UPDATE,freq,citizen,age,unit,sex,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:MIGR_POP1CTZ(1.0),13/03/25 23:00:00,Annual,Andorra,Total,Number,Females,Austria,2015,2,NaN,NaN
1,ESTAT:MIGR_POP1CTZ(1.0),13/03/25 23:00:00,Annual,Andorra,Total,Number,Females,Austria,2016,1,NaN,NaN
2,ESTAT:MIGR_POP1CTZ(1.0),13/03/25 23:00:00,Annual,Andorra,Total,Number,Females,Austria,2017,1,NaN,NaN
3,ESTAT:MIGR_POP1CTZ(1.0),13/03/25 23:00:00,Annual,Andorra,Total,Number,Females,Austria,2018,2,NaN,NaN
4,ESTAT:MIGR_POP1CTZ(1.0),13/03/25 23:00:00,Annual,Andorra,Total,Number,Females,Austria,2019,2,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170568 entries, 0 to 170567
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATAFLOW     170568 non-null  object
 1   LAST UPDATE  170568 non-null  object
 2   freq         170568 non-null  object
 3   citizen      170568 non-null  object
 4   age          170568 non-null  object
 5   unit         170568 non-null  object
 6   sex          170568 non-null  object
 7   geo          170568 non-null  object
 8   TIME_PERIOD  170568 non-null  int64
 9   OBS_VALUE    170568 non-null  int64
 10  OBS_FLAG     7304 non-null    object
 11  CONF_STATUS  0 non-null       float64
dtypes: float64(1), int64(2), object(9)
memory usage: 15.6+ MB

In [5]:
df = df.drop(columns=["DATAFLOW", "LAST UPDATE", "OBS_FLAG", "CONF_STATUS"])

In [6]:
for col in df.columns:
    print(f"Uniques values in {col}: {df[col].unique()}")

Uniques values in freq: ['Annual']
Uniques values in citizen: ['Andorra' 'United Arab Emirates' 'Afghanistan' 'Africa' 'Central Africa'
 'Eastern Africa' 'Northern Africa' 'Southern Africa' 'Western Africa'
 'Antigua and Barbuda' 'Anguilla' 'Albania' 'Armenia' 'America'
 'Central America' 'Northern America' 'South America'
 'Netherlands Antilles' 'Angola' 'Argentina' 'Asia' 'Central Asia'
 'Eastern Asia' 'Southern Asia' 'South-Eastern Asia' 'Western Asia'
 'Austria' 'Australia' 'Australia and New Zealand' 'Aruba' 'Azerbaijan'
 'Bosnia and Herzegovina' 'Barbados' 'Bangladesh' 'Belgium' 'Burkina Faso'
 'Bulgaria' 'Bahrain' 'Burundi' 'Benin' 'Saint Barthélemy' 'Bermuda'
 'Brunei Darussalam' 'Bolivia' 'Bonaire, Saint Eustatius and Saba'
 'Brazil' 'Bahamas' 'Bhutan' 'Botswana' 'Belarus' 'Belize' 'Canada'
 'Candidate countries from 2022 (8 countries) except reporting country'
 'Candidate countries from 2023 (9 countries) except reporting country'
 'Democratic Republic of the Congo' 'Central African Republic' 'Congo'
 'Switzerland' 'Côte d’Ivoire' 'Chile' 'Cameroon' 'China' 'Colombia'
 'Costa Rica' 'Caribbean' 'Cuba' 'Cabo Verde' 'Curaçao' 'Cyprus' 'Czechia'
 'Czechoslovakia' 'Germany' 'Djibouti' 'Denmark' 'Dominica'
 'Dominican Republic' 'Algeria' 'Ecuador' 'Estonia'
 'European Free Trade Association'
 'European Free Trade Association except reporting country' 'Egypt'
 'Western Sahara' 'Greece' 'Eritrea' 'Spain' 'Ethiopia'
 'EU27 countries (from 2020) except reporting country'
 'European Union - 28 countries (2013-2020)'
 'EU28 countries (2013-2020) except reporting country' 'Europe'
 'Soviet Union' 'Yugoslavia' 'Finland' 'Fiji' 'Falkland Islands'
 'Federated States of Micronesia' 'Faroes' 'Foreign country and stateless'
 'France' 'Gabon' 'Grenada' 'Georgia' 'Guernsey' 'Ghana' 'Gibraltar'
 'Greenland' 'Gambia, The' 'Guinea' 'Equatorial Guinea' 'Guatemala'
 'Guinea-Bissau' 'Guyana' 'Honduras' 'Croatia' 'Haiti' 'Hungary'
 'Indonesia' 'Ireland' 'Israel' 'Isle of Man' 'India' 'Iraq' 'Iran'
 'Iceland' 'Italy' 'Jersey' 'Jamaica' 'Jordan' 'Japan' 'Kenya'
 'Kyrgyzstan' 'Cambodia' 'Kiribati' 'Comoros' 'Saint Kitts and Nevis'
 'North Korea' 'South Korea' 'Kuwait' 'Cayman Islands' 'Kazakhstan' 'Laos'
 'Lebanon' 'Saint Lucia' 'Liechtenstein' 'Sri Lanka' 'Liberia' 'Lesotho'
 'Lithuania' 'Luxembourg' 'Latvia' 'Libya' 'Morocco' 'Monaco' 'Moldova'
 'Montenegro' 'Melanesia' 'Madagascar' 'Marshall Islands' 'Micronesia'
 'North Macedonia' 'Mali' 'Myanmar/Burma' 'Mongolia' 'Mauritania'
 'Montserrat' 'Malta' 'Mauritius' 'Maldives' 'Malawi' 'Mexico' 'Malaysia'
 'Mozambique' 'Namibia' 'Reporting country' 'New Caledonia' 'Niger'
 'Non-EU27 countries (from 2020) nor reporting country'
 'Non-EU28 countries (2013-2020) nor reporting country' 'Nigeria'
 'Nicaragua' 'Netherlands' 'Norway' 'Nepal' 'Nauru' 'New Zealand'
 'Oceania' 'Oman' 'Others' 'Panama' 'Peru' 'French Polynesia'
 'Papua New Guinea' 'Philippines' 'Pakistan' 'Poland'
 'Saint Pierre and Miquelon' 'Pitcairn Islands' 'Polynesia' 'Palestine*'
 'Portugal' 'Palau' 'Paraguay' 'Qatar' 'Recognised non-citizens' 'Romania'
 'Serbia' 'Serbia and Montenegro' 'Russia' 'Rwanda' 'Saudi Arabia'
 'Solomon Islands' 'Seychelles' 'Sudan' 'Sweden' 'Singapore'
 'Saint Helena, Ascension and Tristan da Cunha' 'Slovenia' 'Slovakia'
 'Sierra Leone' 'San Marino' 'Senegal' 'Somalia' 'Suriname' 'South Sudan'
 'São Tomé and Príncipe' 'Stateless' 'El Salvador' 'Sint Maarten' 'Syria'
 'Eswatini' 'Turks and Caicos Islands' 'Chad' 'Togo' 'Thailand'
 'Tajikistan' 'Timor-Leste' 'Turkmenistan' 'Tunisia' 'Tonga' 'Total'
 'Türkiye' 'Trinidad and Tobago' 'Tuvalu' 'Taiwan' 'Tanzania' 'Ukraine'
 'Uganda' 'United Kingdom' 'Unknown' 'United States' 'Uruguay'
 'Uzbekistan' 'Holy See' 'Saint Vincent and the Grenadines' 'Venezuela'
 'British Virgin Islands' 'Viet Nam' 'Vanuatu' 'Wallis and Futuna' 'Samoa'
 'Kosovo*' 'Yemen' 'South Africa' 'Zambia' 'Zimbabwe']
Uniques values in age: ['Total']
Uniques values in unit: ['Number']
Uniques values in sex: ['Females' 'Males' 'Total']
Uniques values in geo: ['Austria' 'Belgium' 'Bulgaria' 'Switzerland' 'Czechia' 'Germany'
 'Denmark' 'Estonia' 'Finland' 'Hungary' 'Ireland' 'Iceland' 'Italy'
 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Latvia' 'Netherlands' 'Norway'
 'Portugal' 'Romania' 'Sweden' 'Slovenia' 'Slovakia' 'Türkiye' 'France'
 'Spain' 'United Kingdom' 'Greece' 'Croatia' 'Poland' 'Cyprus'
 'European Union - 27 countries (from 2020)' 'Malta' 'Albania' 'Armenia'
 'Georgia' 'Moldova' 'Montenegro' 'North Macedonia' 'Serbia' 'Ukraine']
Uniques values in TIME_PERIOD: [2015 2016 2017 2018 2019 2020 2021 2022 2023 2024]
Uniques values in OBS_VALUE: [    2     1     3 ... 14968 70712 87540]

In [7]:
df = df.drop(columns=["freq", "age"])
df = df[df["sex"] == "Total"]
df = df.drop(columns=["sex", "unit"])

In [8]:
# Citizen column contains not only single countries
df["citizen"].unique()

array(['Andorra', 'United Arab Emirates', 'Afghanistan', 'Africa',
       'Central Africa', 'Eastern Africa', 'Northern Africa',
       'Southern Africa', 'Western Africa', 'Antigua and Barbuda',
       'Anguilla', 'Albania', 'Armenia', 'America', 'Central America',
       'Northern America', 'South America', 'Netherlands Antilles',
       'Angola', 'Argentina', 'Asia', 'Central Asia', 'Eastern Asia',
       'Southern Asia', 'South-Eastern Asia', 'Western Asia', 'Austria',
       'Australia', 'Australia and New Zealand', 'Aruba', 'Azerbaijan',
       'Bosnia and Herzegovina', 'Barbados', 'Bangladesh', 'Belgium',
       'Burkina Faso', 'Bulgaria', 'Bahrain', 'Burundi', 'Benin',
       'Saint Barthélemy', 'Bermuda', 'Brunei Darussalam', 'Bolivia',
       'Bonaire, Saint Eustatius and Saba', 'Brazil', 'Bahamas', 'Bhutan',
       'Botswana', 'Belarus', 'Belize', 'Canada',
       'Candidate countries from 2022 (8 countries) except reporting country',
       'Candidate countries from 2023 (9 countries) except reporting country',
       'Democratic Republic of the Congo', 'Central African Republic',
       'Congo', 'Switzerland', 'Côte d’Ivoire', 'Chile', 'Cameroon',
       'China', 'Colombia', 'Costa Rica', 'Caribbean', 'Cuba',
       'Cabo Verde', 'Curaçao', 'Cyprus', 'Czechia', 'Czechoslovakia',
       'Germany', 'Djibouti', 'Denmark', 'Dominica', 'Dominican Republic',
       'Algeria', 'Ecuador', 'Estonia', 'European Free Trade Association',
       'European Free Trade Association except reporting country',
       'Egypt', 'Western Sahara', 'Greece', 'Eritrea', 'Spain',
       'Ethiopia', 'EU27 countries (from 2020) except reporting country',
       'European Union - 28 countries (2013-2020)',
       'EU28 countries (2013-2020) except reporting country', 'Europe',
       'Soviet Union', 'Yugoslavia', 'Finland', 'Fiji',
       'Falkland Islands', 'Federated States of Micronesia', 'Faroes',
       'Foreign country and stateless', 'France', 'Gabon', 'Grenada',
       'Georgia', 'Guernsey', 'Ghana', 'Gibraltar', 'Greenland',
       'Gambia, The', 'Guinea', 'Equatorial Guinea', 'Guatemala',
       'Guinea-Bissau', 'Guyana', 'Honduras', 'Croatia', 'Haiti',
       'Hungary', 'Indonesia', 'Ireland', 'Israel', 'Isle of Man',
       'India', 'Iraq', 'Iran', 'Iceland', 'Italy', 'Jersey', 'Jamaica',
       'Jordan', 'Japan', 'Kenya', 'Kyrgyzstan', 'Cambodia', 'Kiribati',
       'Comoros', 'Saint Kitts and Nevis', 'North Korea', 'South Korea',
       'Kuwait', 'Cayman Islands', 'Kazakhstan', 'Laos', 'Lebanon',
       'Saint Lucia', 'Liechtenstein', 'Sri Lanka', 'Liberia', 'Lesotho',
       'Lithuania', 'Luxembourg', 'Latvia', 'Libya', 'Morocco', 'Monaco',
       'Moldova', 'Montenegro', 'Melanesia', 'Madagascar',
       'Marshall Islands', 'Micronesia', 'North Macedonia', 'Mali',
       'Myanmar/Burma', 'Mongolia', 'Mauritania', 'Montserrat', 'Malta',
       'Mauritius', 'Maldives', 'Malawi', 'Mexico', 'Malaysia',
       'Mozambique', 'Namibia', 'Reporting country', 'New Caledonia',
       'Niger', 'Non-EU27 countries (from 2020) nor reporting country',
       'Non-EU28 countries (2013-2020) nor reporting country', 'Nigeria',
       'Nicaragua', 'Netherlands', 'Norway', 'Nepal', 'Nauru',
       'New Zealand', 'Oceania', 'Oman', 'Others', 'Panama', 'Peru',
       'French Polynesia', 'Papua New Guinea', 'Philippines', 'Pakistan',
       'Poland', 'Saint Pierre and Miquelon', 'Pitcairn Islands',
       'Polynesia', 'Palestine*', 'Portugal', 'Palau', 'Paraguay',
       'Qatar', 'Recognised non-citizens', 'Romania', 'Serbia',
       'Serbia and Montenegro', 'Russia', 'Rwanda', 'Saudi Arabia',
       'Solomon Islands', 'Seychelles', 'Sudan', 'Sweden', 'Singapore',
       'Saint Helena, Ascension and Tristan da Cunha', 'Slovenia',
       'Slovakia', 'Sierra Leone', 'San Marino', 'Senegal', 'Somalia',
       'Suriname', 'South Sudan', 'São Tomé and Príncipe', 'Stateless',
       'El Salvador', 'Sint Maarten', 'Syria', 'Eswatini',
       'Turks and Caicos Islands', 'Chad', 'Togo', 'Thailand',
       'Tajikistan', 'Timor-Leste', 'Turkmenistan', 'Tunisia', 'Tonga',
       'Total', 'Türkiye', 'Trinidad and Tobago', 'Tuvalu', 'Taiwan',
       'Tanzania', 'Ukraine', 'Uganda', 'United Kingdom', 'Unknown',
       'United States', 'Uruguay', 'Uzbekistan', 'Holy See',
       'Saint Vincent and the Grenadines', 'Venezuela',
       'British Virgin Islands', 'Viet Nam', 'Vanuatu',
       'Wallis and Futuna', 'Samoa', 'Kosovo*', 'Yemen', 'South Africa',
       'Zambia', 'Zimbabwe'], dtype=object)

In [9]:
df.to_csv("../../processed_data/population_by_citizenship.csv", index=False)