In [1]:
import pandas as pd

**Total fertility rate**

---

Mean number of children that a woman could have during her childbearing age

In [2]:
df = pd.read_csv('../../data/total_fertility_rate_tps00199.csv')

In [3]:
df.head()

,DATAFLOW,LAST UPDATE,freq,indic_de,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:TPS00199(1.0),21/03/25 11:00:00,Annual,Total fertility rate,Albania,2012,1.71,NaN,NaN
1,ESTAT:TPS00199(1.0),21/03/25 11:00:00,Annual,Total fertility rate,Albania,2013,1.73,NaN,NaN
2,ESTAT:TPS00199(1.0),21/03/25 11:00:00,Annual,Total fertility rate,Albania,2014,1.73,NaN,NaN
3,ESTAT:TPS00199(1.0),21/03/25 11:00:00,Annual,Total fertility rate,Albania,2015,1.59,NaN,NaN
4,ESTAT:TPS00199(1.0),21/03/25 11:00:00,Annual,Total fertility rate,Albania,2016,1.54,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     515 non-null    object
 1   LAST UPDATE  515 non-null    object
 2   freq         515 non-null    object
 3   indic_de     515 non-null    object
 4   geo          515 non-null    object
 5   TIME_PERIOD  515 non-null    int64
 6   OBS_VALUE    514 non-null    float64
 7   OBS_FLAG     64 non-null     object
 8   CONF_STATUS  0 non-null      float64
dtypes: float64(2), int64(1), object(6)
memory usage: 36.3+ KB

In [5]:
df = df.drop(columns=["DATAFLOW", "LAST UPDATE", "OBS_FLAG", "CONF_STATUS"])

In [6]:
df = df.dropna()

In [7]:
for col in df.columns:
    print(f"Uniques values in {col}: {df[col].unique()}")

Uniques values in freq: ['Annual']
Uniques values in indic_de: ['Total fertility rate']
Uniques values in geo: ['Albania' 'Armenia' 'Austria' 'Azerbaijan' 'Belgium' 'Bulgaria' 'Belarus'
 'Switzerland' 'Cyprus' 'Czechia' 'Germany' 'Denmark'
 'Euro area - 19 countries  (2015-2022)'
 'Euro area – 20 countries (from 2023)' 'Estonia' 'Greece' 'Spain'
 'European Union - 27 countries (from 2020)' 'Finland' 'France'
 'Metropolitan France' 'Georgia' 'Croatia' 'Hungary' 'Ireland' 'Iceland'
 'Italy' 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Latvia' 'Moldova'
 'Montenegro' 'North Macedonia' 'Malta' 'Netherlands' 'Norway' 'Poland'
 'Portugal' 'Romania' 'Serbia' 'Sweden' 'Slovenia' 'Slovakia' 'San Marino'
 'Türkiye' 'Ukraine' 'United Kingdom' 'Kosovo*']
Uniques values in TIME_PERIOD: [2012 2013 2014 2015 2016 2017 2018 2020 2021 2022 2019 2023]
Uniques values in OBS_VALUE: [1.71 1.73 1.59 1.54 1.48 1.37 1.34 1.31 1.21 1.62 1.56 1.57 1.6  1.44
 1.46 1.49 1.53 1.52 1.47 1.41 1.32 2.   1.98 1.97 1.94 1.9  1.75 1.81
 1.8  1.76 1.74 1.7  1.68 1.65 1.55 1.5  1.64 1.67 1.79 1.77 1.78 1.72
 1.45 1.39 1.33 1.3  1.36 1.4  1.63 1.69 1.83 1.42 1.58 1.51 1.38 1.66
 1.61 1.29 1.35 1.43 1.26 1.27 1.23 1.18 1.16 1.12 2.01 1.99 1.96 1.92
 1.89 1.87 1.86 2.21 2.23 2.14 2.09 2.02 1.93 1.85 2.04 1.82 1.24 1.25
 1.28 1.14 1.13 1.08 1.06 1.2  1.91 1.88 2.08 2.17 2.11 2.07]

In [8]:
df = df[df["geo"] != "Euro area - 19 countries  (2015-2022)"]
df = df[df["geo"] != 'Euro area – 20 countries (from 2023)']
df = df[df["geo"] != 'European Union - 27 countries (from 2020)']
df = df.drop(columns=["freq", "indic_de"])

In [9]:
df = df.rename(columns={"OBS_VALUE": "Total fertility rate"})

In [10]:
df.to_csv("../../processed_data/total_fertility_rate.csv", index=False)