In [15]:
import pandas as pd

**Unemployment by sex, age and citizenship (1 000)**

---
Unemployment by citizenship per thousand people

Annual data

In [16]:
df = df = pd.read_csv('../../data/unemployment_by_citizenship.csv')

In [17]:
df.head()

,DATAFLOW,LAST UPDATE,freq,unit,sex,age,citizen,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:LFSA_UGAN(1.0),13/03/25 23:00:00,Annual,Thousand persons,Females,From 15 to 74 years,EU27 countries (from 2020) except reporting co...,Austria,2014,13.0,NaN,NaN
1,ESTAT:LFSA_UGAN(1.0),13/03/25 23:00:00,Annual,Thousand persons,Females,From 15 to 74 years,EU27 countries (from 2020) except reporting co...,Austria,2015,14.0,NaN,NaN
2,ESTAT:LFSA_UGAN(1.0),13/03/25 23:00:00,Annual,Thousand persons,Females,From 15 to 74 years,EU27 countries (from 2020) except reporting co...,Austria,2016,16.1,NaN,NaN
3,ESTAT:LFSA_UGAN(1.0),13/03/25 23:00:00,Annual,Thousand persons,Females,From 15 to 74 years,EU27 countries (from 2020) except reporting co...,Austria,2017,14.4,NaN,NaN
4,ESTAT:LFSA_UGAN(1.0),13/03/25 23:00:00,Annual,Thousand persons,Females,From 15 to 74 years,EU27 countries (from 2020) except reporting co...,Austria,2018,13.8,NaN,NaN

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5719 entries, 0 to 5718
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     5719 non-null   object
 1   LAST UPDATE  5719 non-null   object
 2   freq         5719 non-null   object
 3   unit         5719 non-null   object
 4   sex          5719 non-null   object
 5   age          5719 non-null   object
 6   citizen      5719 non-null   object
 7   geo          5719 non-null   object
 8   TIME_PERIOD  5719 non-null   int64
 9   OBS_VALUE    4419 non-null   float64
 10  OBS_FLAG     2297 non-null   object
 11  CONF_STATUS  0 non-null      float64
dtypes: float64(2), int64(1), object(9)
memory usage: 536.3+ KB

In [19]:
columns_to_drop = ["OBS_FLAG", "DATAFLOW", "CONF_STATUS", "freq", "incgrp", "unit", "LAST UPDATE"]
df = df.drop(columns=[col for col in columns_to_drop if col in df.columns])

In [20]:
df = df.dropna()

In [21]:
for col in df.columns:
    print(f"Uniques values in {col}: {df[col].unique()}")

Uniques values in sex: ['Females' 'Males' 'Total']
Uniques values in age: ['From 15 to 74 years']
Uniques values in citizen: ['EU27 countries (from 2020) except reporting country' 'Foreign country'
 'Reporting country'
 'Non-EU27 countries (from 2020) nor reporting country' 'No response'
 'Total' 'Stateless']
Uniques values in geo: ['Austria' 'Belgium' 'Switzerland' 'Cyprus' 'Czechia' 'Germany' 'Denmark'
 'Euro area – 20 countries (from 2023)' 'Greece' 'Spain'
 'European Union - 27 countries (from 2020)' 'Finland' 'France' 'Ireland'
 'Iceland' 'Italy' 'Luxembourg' 'Malta' 'Netherlands' 'Norway' 'Sweden'
 'Slovenia' 'United Kingdom' 'Estonia' 'Latvia' 'Portugal' 'Serbia'
 'Bosnia and Herzegovina' 'Bulgaria' 'Croatia' 'Hungary' 'Lithuania'
 'Montenegro' 'North Macedonia' 'Poland' 'Romania' 'Slovakia' 'Türkiye']
Uniques values in TIME_PERIOD: [2014 2015 2016 2017 2018 2019 2020 2021 2022 2023]
Uniques values in OBS_VALUE: [  13.    14.    16.1 ... 1446.7 1346.7 1269.3]

In [22]:
df = df[~df["geo"].isin(['European Union - 27 countries (from 2020)',
                         'Euro area (EA11-1999, EA12-2001, EA13-2007, EA15-2008, EA16-2009, EA17-2011, EA18-2014, EA19-2015, EA20-2023)',
                         'Euro area - 17 countries (2011-2013)',
                         'European Union (EU6-1958, EU9-1973, EU10-1981, EU12-1986, EU15-1995, EU25-2004, EU27-2007, EU28-2013, EU27-2020)',
                         'European Union - 15 countries (1995-2004)',
                         'European Union - 27 countries (2007-2013)',
                         'European Union - 27 countries (from 2020)',
                         'European Union - 28 countries (2013-2020)'
                         'Euro area - 19 countries  (2015-2022)',
                         'Euro area – 20 countries (from 2023)',
                         'Euro area - 18 countries (2014)',
                         'Euro area - 19 countries  (2015-2022)',
                         'European Union - 28 countries (2013-2020)'
                         ])]

columns_to_drop = ["freq", "indic_de", "statinfo", "age", "unit", 'isced11']
df = df.drop(columns=[col for col in columns_to_drop if col in df.columns])

In [23]:
for col in df.columns:
    print(f"Uniques values in {col}: {df[col].unique()}")

Uniques values in sex: ['Females' 'Males' 'Total']
Uniques values in citizen: ['EU27 countries (from 2020) except reporting country' 'Foreign country'
 'Reporting country'
 'Non-EU27 countries (from 2020) nor reporting country' 'No response'
 'Total' 'Stateless']
Uniques values in geo: ['Austria' 'Belgium' 'Switzerland' 'Cyprus' 'Czechia' 'Germany' 'Denmark'
 'Greece' 'Spain' 'Finland' 'France' 'Ireland' 'Iceland' 'Italy'
 'Luxembourg' 'Malta' 'Netherlands' 'Norway' 'Sweden' 'Slovenia'
 'United Kingdom' 'Estonia' 'Latvia' 'Portugal' 'Serbia'
 'Bosnia and Herzegovina' 'Bulgaria' 'Croatia' 'Hungary' 'Lithuania'
 'Montenegro' 'North Macedonia' 'Poland' 'Romania' 'Slovakia' 'Türkiye']
Uniques values in TIME_PERIOD: [2014 2015 2016 2017 2018 2019 2020 2021 2022 2023]
Uniques values in OBS_VALUE: [  13.    14.    16.1 ... 1446.7 1346.7 1269.3]

In [24]:
df = df.rename(columns={"OBS_VALUE": "Number per 1000 people", "TIME_PERIOD": "year"})

In [26]:
df.to_csv("../../processed_data/unemployment_by_citizenship_annual.csv", index=False)

# Obliczenie annual unemployment rates

In [36]:
pop_by_lab = pd.read_csv('../../data/population_by_age_sex_citizenship_labour_force.csv')

In [37]:
pop_by_lab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113199 entries, 0 to 113198
Data columns (total 25 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   STRUCTURE                               113199 non-null  object
 1   STRUCTURE_ID                            113199 non-null  object
 2   STRUCTURE_NAME                          113199 non-null  object
 3   freq                                    113199 non-null  object
 4   Time frequency                          113199 non-null  object
 5   unit                                    113199 non-null  object
 6   Unit of measure                         113199 non-null  object
 7   sex                                     113199 non-null  object
 8   Sex                                     113199 non-null  object
 9   citizen                                 113199 non-null  object
 10  Country of citizenship                  113199 non-null  object
 11  age                                     113199 non-null  object
 12  Age class                               113199 non-null  object
 13  wstatus                                 113199 non-null  object
 14  Labour force and employment status      113199 non-null  object
 15  geo                                     113199 non-null  object
 16  Geopolitical entity (reporting)         113199 non-null  object
 17  TIME_PERIOD                             113199 non-null  object
 18  Time                                    0 non-null       float64
 19  OBS_VALUE                               107901 non-null  float64
 20  Observation value                       0 non-null       float64
 21  OBS_FLAG                                14204 non-null   object
 22  Observation status (Flag) V2 structure  14204 non-null   object
 23  CONF_STATUS                             0 non-null       float64
 24  Confidentiality status (flag)           0 non-null       float64
dtypes: float64(5), object(20)
memory usage: 21.6+ MB

In [29]:
pop_by_lab.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,unit,Unit of measure,sex,Sex,citizen,...,geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:LFSQ_PGANWS(1.0),"Population by sex, age, citizenship and labour...",Q,Quarterly,THS_PER,Thousand persons,F,Females,FOR,...,AT,Austria,1998-Q1,NaN,155.0,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:LFSQ_PGANWS(1.0),"Population by sex, age, citizenship and labour...",Q,Quarterly,THS_PER,Thousand persons,F,Females,FOR,...,AT,Austria,1999-Q1,NaN,144.9,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:LFSQ_PGANWS(1.0),"Population by sex, age, citizenship and labour...",Q,Quarterly,THS_PER,Thousand persons,F,Females,FOR,...,AT,Austria,2000-Q1,NaN,159.6,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:LFSQ_PGANWS(1.0),"Population by sex, age, citizenship and labour...",Q,Quarterly,THS_PER,Thousand persons,F,Females,FOR,...,AT,Austria,2000-Q2,NaN,140.7,NaN,NaN,NaN,NaN,NaN
4,dataflow,ESTAT:LFSQ_PGANWS(1.0),"Population by sex, age, citizenship and labour...",Q,Quarterly,THS_PER,Thousand persons,F,Females,FOR,...,AT,Austria,2001-Q1,NaN,152.9,NaN,NaN,NaN,NaN,NaN

In [38]:
pop_by_lab = pop_by_lab[["Country of citizenship", "Geopolitical entity (reporting)", "OBS_VALUE", "TIME_PERIOD", "Sex", "wstatus"]]

In [39]:
pop_by_lab.head()

,Country of citizenship,Geopolitical entity (reporting),OBS_VALUE,TIME_PERIOD,Sex,wstatus
0,Foreign country,Austria,155.0,1998-Q1,Females,ACT
1,Foreign country,Austria,144.9,1999-Q1,Females,ACT
2,Foreign country,Austria,159.6,2000-Q1,Females,ACT
3,Foreign country,Austria,140.7,2000-Q2,Females,ACT
4,Foreign country,Austria,152.9,2001-Q1,Females,ACT

In [40]:
pop_by_lab.isna().sum()

Country of citizenship                0
Geopolitical entity (reporting)       0
OBS_VALUE                          5298
TIME_PERIOD                           0
Sex                                   0
wstatus                               0
dtype: int64

In [44]:
pop_by_lab = pop_by_lab.rename(columns={
    "Geopolitical entity (reporting)": "geo",
    "TIME_PERIOD": "quarter",
    "OBS_VALUE": "Number per 1000 people"
})

In [45]:
pop_by_lab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113199 entries, 0 to 113198
Data columns (total 6 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Country of citizenship  113199 non-null  object
 1   geo                     113199 non-null  object
 2   Number per 1000 people  107901 non-null  float64
 3   quarter                 113199 non-null  object
 4   Sex                     113199 non-null  object
 5   wstatus                 113199 non-null  object
dtypes: float64(1), object(5)
memory usage: 5.2+ MB

In [46]:
grouped = pop_by_lab.groupby(['geo', 'quarter', 'Country of citizenship', 'Sex', 'wstatus'])['Number per 1000 people'].sum().unstack()

grouped['unemployment_rate'] = (grouped['UNE'] / grouped['ACT']) * 100
grouped['employment_rate'] = (grouped['EMP'] / grouped['POP']) * 100

grouped = grouped.reset_index()

In [51]:
grouped[(grouped['geo']=='Romania') & (grouped['Country of citizenship'] == 'Foreign country')].info()

<class 'pandas.core.frame.DataFrame'>
Index: 252 entries, 22008 to 22757
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   geo                     252 non-null    object
 1   quarter                 252 non-null    object
 2   Country of citizenship  252 non-null    object
 3   Sex                     252 non-null    object
 4   ACT                     252 non-null    float64
 5   EMP                     252 non-null    float64
 6   POP                     252 non-null    float64
 7   UNE                     108 non-null    float64
 8   unemployment_rate       60 non-null     float64
 9   employment_rate         142 non-null    float64
dtypes: float64(6), object(4)
memory usage: 21.7+ KB

In [52]:
grouped[(grouped['geo']=='Poland') & (grouped['Country of citizenship'] == 'Foreign country')].info()

<class 'pandas.core.frame.DataFrame'>
Index: 252 entries, 20241 to 20990
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   geo                     252 non-null    object
 1   quarter                 252 non-null    object
 2   Country of citizenship  252 non-null    object
 3   Sex                     252 non-null    object
 4   ACT                     252 non-null    float64
 5   EMP                     252 non-null    float64
 6   POP                     252 non-null    float64
 7   UNE                     240 non-null    float64
 8   unemployment_rate       240 non-null    float64
 9   employment_rate         252 non-null    float64
dtypes: float64(6), object(4)
memory usage: 21.7+ KB

In [53]:
grouped[(grouped['geo']=='Hungary') & (grouped['Country of citizenship'] == 'Foreign country')].info()

<class 'pandas.core.frame.DataFrame'>
Index: 288 entries, 10749 to 11606
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   geo                     288 non-null    object
 1   quarter                 288 non-null    object
 2   Country of citizenship  288 non-null    object
 3   Sex                     288 non-null    object
 4   ACT                     288 non-null    float64
 5   EMP                     288 non-null    float64
 6   POP                     288 non-null    float64
 7   UNE                     283 non-null    float64
 8   unemployment_rate       283 non-null    float64
 9   employment_rate         288 non-null    float64
dtypes: float64(6), object(4)
memory usage: 24.8+ KB

In [54]:
grouped[(grouped['geo']=='Bulgaria') & (grouped['Country of citizenship'] == 'Foreign country')].info()

<class 'pandas.core.frame.DataFrame'>
Index: 288 entries, 1971 to 2828
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   geo                     288 non-null    object
 1   quarter                 288 non-null    object
 2   Country of citizenship  288 non-null    object
 3   Sex                     288 non-null    object
 4   ACT                     288 non-null    float64
 5   EMP                     288 non-null    float64
 6   POP                     288 non-null    float64
 7   UNE                     192 non-null    float64
 8   unemployment_rate       34 non-null     float64
 9   employment_rate         140 non-null    float64
dtypes: float64(6), object(4)
memory usage: 24.8+ KB

In [56]:
for_saving = grouped[['geo', 'quarter', 'Country of citizenship', 'Sex', 'unemployment_rate', 'employment_rate']]

for_saving.to_csv("../../processed_data/employment_and_unemployment_rates_quarter.csv", index=False)