In [1]:
import pandas as pd

**Unemployment rates by citizenship and sex**

---

Unemployment rate (Eurostat) is calculated according to the International Labour Organization (ILO) definition as:

Unemployment rate = (Number of unemployed people / Labour force )× 100 %

Unemployed people: Those who are not working, actively seeking work in the last 4 weeks, and available to start within 2 weeks.

Labour force: Sum of employed and unemployed people.

In [3]:
df = pd.read_csv('../../data/unemployment_rates_by_sex_and_citizenship.csv')

In [4]:
df.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,unit,Unit of measure,sex,Sex,age,...,geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:LFSQ_URGAN(1.0),"Unemployment rates by sex, age and citizenship...",Q,Quarterly,PC,Percentage,F,Females,Y15-64,...,AT,Austria,1998-Q1,NaN,8.9,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:LFSQ_URGAN(1.0),"Unemployment rates by sex, age and citizenship...",Q,Quarterly,PC,Percentage,F,Females,Y15-64,...,AT,Austria,1999-Q1,NaN,9.2,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:LFSQ_URGAN(1.0),"Unemployment rates by sex, age and citizenship...",Q,Quarterly,PC,Percentage,F,Females,Y15-64,...,AT,Austria,2000-Q1,NaN,9.0,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:LFSQ_URGAN(1.0),"Unemployment rates by sex, age and citizenship...",Q,Quarterly,PC,Percentage,F,Females,Y15-64,...,AT,Austria,2000-Q2,NaN,5.7,NaN,u,low reliability,NaN,NaN
4,dataflow,ESTAT:LFSQ_URGAN(1.0),"Unemployment rates by sex, age and citizenship...",Q,Quarterly,PC,Percentage,F,Females,Y15-64,...,AT,Austria,2001-Q1,NaN,7.9,NaN,NaN,NaN,NaN,NaN

In [5]:
df = df[["Country of citizenship", "Geopolitical entity (reporting)", "OBS_VALUE", "TIME_PERIOD", "Sex"]]

In [6]:
df.head()

,Country of citizenship,Geopolitical entity (reporting),OBS_VALUE,TIME_PERIOD,Sex
0,Foreign country,Austria,8.9,1998-Q1,Females
1,Foreign country,Austria,9.2,1999-Q1,Females
2,Foreign country,Austria,9.0,2000-Q1,Females
3,Foreign country,Austria,5.7,2000-Q2,Females
4,Foreign country,Austria,7.9,2001-Q1,Females

In [7]:
df.dropna(inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25355 entries, 0 to 28472
Data columns (total 5 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country of citizenship           25355 non-null  object
 1   Geopolitical entity (reporting)  25355 non-null  object
 2   OBS_VALUE                        25355 non-null  float64
 3   TIME_PERIOD                      25355 non-null  object
 4   Sex                              25355 non-null  object
dtypes: float64(1), object(4)
memory usage: 1.2+ MB

In [9]:
df = df.rename(columns={
    "Geopolitical entity (reporting)": "geo",
    "TIME_PERIOD": "quarter",
    "OBS_VALUE": "unemployment_rate", 
    "Country of citizenship": "citizenship"
})

In [10]:
df.to_csv("../../processed_data/unemploymnet_rates.csv", index=False)