In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv('../../data/unemployment_by_month_2000-2025.csv')

In [3]:
df.head()

,Reference area,Source,Sex,Age,2000M01,2000M02,2000M03,2000M04,2000M05,2000M06,...,2024M05,2024M06,2024M07,2024M08,2024M09,2024M10,2024M11,2024M12,2025M01,2025M02
0,Armenia,HIES - Households Living Conditions Survey,Total,"Youth, adults: 15+",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Armenia,HIES - Households Living Conditions Survey,Male,"Youth, adults: 15+",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Armenia,HIES - Households Living Conditions Survey,Female,"Youth, adults: 15+",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Australia,LFS - Labour Force Survey,Total,"Youth, adults: 15+",14947.9,14969.8,14991.7,15005.6,15019.4,15033.3,...,22319.2,22348.7,22398.8,22448.9,22499.0,22541.4,22583.9,NaN,NaN,NaN
4,Australia,LFS - Labour Force Survey,Total,"Youth, adults: 15-64",12602.7,12620.1,12637.5,12648.0,12658.6,12669.1,...,17631.2,17649.5,17689.8,17730.0,17770.2,17800.2,17830.2,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1152 entries, 0 to 1151
Columns: 306 entries, Reference area to 2025M02
dtypes: float64(302), object(4)
memory usage: 2.7+ MB

In [5]:
df.duplicated().sum()

np.int64(0)

In [6]:
df.isnull().sum()

Reference area       0
Source               0
Sex                  0
Age                  0
2000M01            858
                  ...
2024M10            768
2024M11            768
2024M12            864
2025M01           1008
2025M02           1104
Length: 306, dtype: int64

In [ ]:
for col in df.columns:
    print(f"Uniques values in {col}: {df[col].unique()}")