In [1]:
import pandas as pd

**Unemployment by sex, age and citizenship (1 000)**

---
Unemployment by citizenship per thousand people

Quarter data

In [2]:
df = df = pd.read_csv('../../data/unemployment_by_citizenship_quarter_data.csv')

In [3]:
df.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,unit,Unit of measure,sex,Sex,age,...,geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:LFSQ_UGAN(1.0),"Unemployment by sex, age and citizenship (1 000)",Q,Quarterly,THS_PER,Thousand persons,T,Total,Y15-64,...,AT,Austria,1998-Q1,NaN,36.2,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:LFSQ_UGAN(1.0),"Unemployment by sex, age and citizenship (1 000)",Q,Quarterly,THS_PER,Thousand persons,T,Total,Y15-64,...,AT,Austria,1999-Q1,NaN,30.7,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:LFSQ_UGAN(1.0),"Unemployment by sex, age and citizenship (1 000)",Q,Quarterly,THS_PER,Thousand persons,T,Total,Y15-64,...,AT,Austria,2000-Q1,NaN,30.8,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:LFSQ_UGAN(1.0),"Unemployment by sex, age and citizenship (1 000)",Q,Quarterly,THS_PER,Thousand persons,T,Total,Y15-64,...,AT,Austria,2000-Q2,NaN,18.5,NaN,NaN,NaN,NaN,NaN
4,dataflow,ESTAT:LFSQ_UGAN(1.0),"Unemployment by sex, age and citizenship (1 000)",Q,Quarterly,THS_PER,Thousand persons,T,Total,Y15-64,...,AT,Austria,2001-Q1,NaN,29.8,NaN,NaN,NaN,NaN,NaN

In [4]:
columns_to_drop = ["OBS_FLAG", "DATAFLOW", "CONF_STATUS", "freq", "incgrp", "unit", "LAST UPDATE"]
df = df.drop(columns=[col for col in columns_to_drop if col in df.columns])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9328 entries, 0 to 9327
Data columns (total 19 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   STRUCTURE                               9328 non-null   object
 1   STRUCTURE_ID                            9328 non-null   object
 2   STRUCTURE_NAME                          9328 non-null   object
 3   Time frequency                          9328 non-null   object
 4   Unit of measure                         9328 non-null   object
 5   sex                                     9328 non-null   object
 6   Sex                                     9328 non-null   object
 7   age                                     9328 non-null   object
 8   Age class                               9328 non-null   object
 9   citizen                                 9328 non-null   object
 10  Country of citizenship                  9328 non-null   object
 11  geo                                     9328 non-null   object
 12  Geopolitical entity (reporting)         9328 non-null   object
 13  TIME_PERIOD                             9328 non-null   object
 14  Time                                    0 non-null      float64
 15  OBS_VALUE                               8568 non-null   float64
 16  Observation value                       0 non-null      float64
 17  Observation status (Flag) V2 structure  1486 non-null   object
 18  Confidentiality status (flag)           0 non-null      float64
dtypes: float64(4), object(15)
memory usage: 1.4+ MB

In [6]:
df = df[["Country of citizenship", "Geopolitical entity (reporting)", "OBS_VALUE", "TIME_PERIOD", "Sex"]]
df = df.rename(columns={
    "Geopolitical entity (reporting)": "geo",
    "TIME_PERIOD": "quarter",
    "OBS_VALUE": "Number per 1000 people"
})

In [7]:
df.head()

  Country of citizenship      geo  Number per 1000 people  quarter    Sex
0        Foreign country  Austria                    36.2  1998-Q1  Total
1        Foreign country  Austria                    30.7  1999-Q1  Total
2        Foreign country  Austria                    30.8  2000-Q1  Total
3        Foreign country  Austria                    18.5  2000-Q2  Total
4        Foreign country  Austria                    29.8  2001-Q1  Total

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9328 entries, 0 to 9327
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country of citizenship  9328 non-null   object
 1   geo                     9328 non-null   object
 2   Number per 1000 people  8568 non-null   float64
 3   quarter                 9328 non-null   object
 4   Sex                     9328 non-null   object
dtypes: float64(1), object(4)
memory usage: 364.5+ KB

In [9]:
df[(df['geo']=='Poland') & (df['Country of citizenship']=='Foreign country')].info()

<class 'pandas.core.frame.DataFrame'>
Index: 84 entries, 2302 to 2385
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country of citizenship  84 non-null     object
 1   geo                     84 non-null     object
 2   Number per 1000 people  22 non-null     float64
 3   quarter                 84 non-null     object
 4   Sex                     84 non-null     object
dtypes: float64(1), object(4)
memory usage: 3.9+ KB

W ponad poÅ‚owie wierszy brakuje wartoÅ›ci dla Polski

In [10]:
df[(df['geo']=='Hungary') & (df['Country of citizenship']=='Foreign country')].info()

<class 'pandas.core.frame.DataFrame'>
Index: 96 entries, 1301 to 1396
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country of citizenship  96 non-null     object
 1   geo                     96 non-null     object
 2   Number per 1000 people  26 non-null     float64
 3   quarter                 96 non-null     object
 4   Sex                     96 non-null     object
dtypes: float64(1), object(4)
memory usage: 4.5+ KB

In [11]:
df[(df['geo']=='Romania') & (df['Country of citizenship']=='Foreign country')].info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 2490 to 2539
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country of citizenship  50 non-null     object
 1   geo                     50 non-null     object
 2   Number per 1000 people  0 non-null      float64
 3   quarter                 50 non-null     object
 4   Sex                     50 non-null     object
dtypes: float64(1), object(4)
memory usage: 2.3+ KB

In [12]:
df[(df['geo']=='Bulagaria') & (df['Country of citizenship']=='Foreign country')].info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country of citizenship  0 non-null      object
 1   geo                     0 non-null      object
 2   Number per 1000 people  0 non-null      float64
 3   quarter                 0 non-null      object
 4   Sex                     0 non-null      object
dtypes: float64(1), object(4)
memory usage: 0.0+ bytes

In [13]:
def quarter_to_datetime(q):
    year, qtr = q[:4], q[-1]
    month = {'1': '01', '2': '04', '3': '07', '4': '10'}.get(qtr, '01')
    return pd.to_datetime(f"{year}-{month}-01")

In [15]:
df['date'] = df['quarter'].apply(quarter_to_datetime)

In [16]:
df = df.sort_values(by=['geo', 'Country of citizenship', 'Sex', 'date'])
df['Number per 1000 people'] = df.groupby(['geo', 'Country of citizenship', 'Sex'])['Number per 1000 people']\
                                 .transform(lambda group: group.interpolate(method='linear'))

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9328 entries, 0 to 9327
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country of citizenship  9328 non-null   object
 1   geo                     9328 non-null   object
 2   Number per 1000 people  8739 non-null   float64
 3   quarter                 9328 non-null   object
 4   Sex                     9328 non-null   object
 5   date                    9328 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 510.1+ KB

In [18]:
df[(df['geo']=='Poland') & (df['Country of citizenship']=='Foreign country')].info()

<class 'pandas.core.frame.DataFrame'>
Index: 84 entries, 2302 to 2385
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country of citizenship  84 non-null     object
 1   geo                     84 non-null     object
 2   Number per 1000 people  47 non-null     float64
 3   quarter                 84 non-null     object
 4   Sex                     84 non-null     object
 5   date                    84 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 4.6+ KB

In [19]:
df = df.dropna()

In [20]:
df.to_csv("../../processed_data/unemployment_by_citizenship", index=False)