In [48]:
import pandas as pd

**Police-recorded offences by offence category**

---
Unit: per thousand hundred inhabitants

In [49]:
df = pd.read_csv('../../data/crimes_crime_by_category_crim_off_cat.csv')

In [50]:
df.head()

,DATAFLOW,LAST UPDATE,freq,iccs,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:CRIM_OFF_CAT(1.0),23/04/24 23:00:00,Annual,Intentional homicide,Number,Albania,2008,88.0,NaN,NaN
1,ESTAT:CRIM_OFF_CAT(1.0),23/04/24 23:00:00,Annual,Intentional homicide,Number,Albania,2009,82.0,NaN,NaN
2,ESTAT:CRIM_OFF_CAT(1.0),23/04/24 23:00:00,Annual,Intentional homicide,Number,Albania,2010,118.0,NaN,NaN
3,ESTAT:CRIM_OFF_CAT(1.0),23/04/24 23:00:00,Annual,Intentional homicide,Number,Albania,2011,124.0,NaN,NaN
4,ESTAT:CRIM_OFF_CAT(1.0),23/04/24 23:00:00,Annual,Intentional homicide,Number,Albania,2012,125.0,NaN,NaN

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17474 entries, 0 to 17473
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     17474 non-null  object
 1   LAST UPDATE  17474 non-null  object
 2   freq         17474 non-null  object
 3   iccs         17474 non-null  object
 4   unit         17474 non-null  object
 5   geo          17474 non-null  object
 6   TIME_PERIOD  17474 non-null  int64
 7   OBS_VALUE    17474 non-null  float64
 8   OBS_FLAG     0 non-null      float64
 9   CONF_STATUS  0 non-null      float64
dtypes: float64(3), int64(1), object(6)
memory usage: 1.3+ MB

In [52]:
df.duplicated().sum()

np.int64(0)

In [53]:
df.isnull().sum()

DATAFLOW           0
LAST UPDATE        0
freq               0
iccs               0
unit               0
geo                0
TIME_PERIOD        0
OBS_VALUE          0
OBS_FLAG       17474
CONF_STATUS    17474
dtype: int64

In [54]:
df = df.drop(columns=["DATAFLOW", "LAST UPDATE", "OBS_FLAG", "CONF_STATUS"])

In [55]:
for col in df.columns:
    print(f"Uniques values in {col}: {df[col].unique()}")

Uniques values in freq: ['Annual']
Uniques values in iccs: ['Intentional homicide' 'Attempted intentional homicide' 'Serious assault'
 'Kidnapping' 'Sexual violence' 'Rape' 'Sexual assault'
 'Sexual exploitation' 'Child pornography' 'Robbery' 'Burglary'
 'Burglary of private residential premises' 'Theft'
 'Theft of a motorized vehicle or parts thereof'
 'Unlawful acts involving controlled drugs or precursors' 'Fraud'
 'Corruption' 'Bribery' 'Money laundering' 'Acts against computer systems'
 'Participation in an organized criminal group']
Uniques values in unit: ['Number' 'Per hundred thousand inhabitants']
Uniques values in geo: ['Albania' 'Austria' 'Bosnia and Herzegovina' 'Belgium' 'Bulgaria'
 'Switzerland' 'Cyprus' 'Czechia' 'Germany' 'Denmark' 'Estonia' 'Greece'
 'Spain' 'Finland' 'France' 'Croatia' 'Hungary' 'Ireland' 'Iceland'
 'Italy' 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Latvia' 'Montenegro'
 'North Macedonia' 'Malta' 'Netherlands' 'Norway' 'Poland' 'Portugal'
 'Romania' 'Serbia' 'Sweden' 'Slovenia' 'Slovakia' 'TÃ¼rkiye'
 'England and Wales' 'Scotland (NUTS 2021)'
 'Northern Ireland (UK) (NUTS 2021)' 'Kosovo*']
Uniques values in TIME_PERIOD: [2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021
 2022]
Uniques values in OBS_VALUE: [ 88.    82.   118.   ...   9.16  19.44   2.53]

In [56]:
df = df.drop(columns=["freq"])

In [57]:
df = df.dropna()

In [58]:
df = df.rename(columns={"OBS_VALUE": "Crimes num"})

In [59]:
df = df[df["unit"] == "Per hundred thousand inhabitants"]

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8605 entries, 591 to 17473
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   iccs         8605 non-null   object
 1   unit         8605 non-null   object
 2   geo          8605 non-null   object
 3   TIME_PERIOD  8605 non-null   int64
 4   Crimes num   8605 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 403.4+ KB

In [61]:
df = df.drop(columns=["unit"])

In [62]:
df.to_csv("../../processed_data/crimes_crime_by_category.csv", index=False)