In [23]:
import pandas as pd

**Prisoners by citizenship**

---
Unit: per thousand hundred inhabitants

In [24]:
df = pd.read_csv('../../data/prisoners_by_citizenship_foreign_to_admission_country_crim_pris_ctz.csv')

In [25]:
df.head()

,DATAFLOW,LAST UPDATE,freq,citizen,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:CRIM_PRIS_CTZ$DEFAULTVIEW(1.0),NaN,Annual,Foreign country,Number,Albania,2013,84.0,NaN,NaN
1,ESTAT:CRIM_PRIS_CTZ$DEFAULTVIEW(1.0),NaN,Annual,Foreign country,Number,Albania,2014,99.0,NaN,NaN
2,ESTAT:CRIM_PRIS_CTZ$DEFAULTVIEW(1.0),NaN,Annual,Foreign country,Number,Albania,2015,89.0,NaN,NaN
3,ESTAT:CRIM_PRIS_CTZ$DEFAULTVIEW(1.0),NaN,Annual,Foreign country,Number,Albania,2016,89.0,NaN,NaN
4,ESTAT:CRIM_PRIS_CTZ$DEFAULTVIEW(1.0),NaN,Annual,Foreign country,Number,Albania,2017,101.0,NaN,NaN

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2188 entries, 0 to 2187
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     2188 non-null   object
 1   LAST UPDATE  0 non-null      float64
 2   freq         2188 non-null   object
 3   citizen      2188 non-null   object
 4   unit         2188 non-null   object
 5   geo          2188 non-null   object
 6   TIME_PERIOD  2188 non-null   int64
 7   OBS_VALUE    2188 non-null   float64
 8   OBS_FLAG     0 non-null      float64
 9   CONF_STATUS  0 non-null      float64
dtypes: float64(4), int64(1), object(5)
memory usage: 171.1+ KB

In [27]:
df.isnull().sum()

DATAFLOW          0
LAST UPDATE    2188
freq              0
citizen           0
unit              0
geo               0
TIME_PERIOD       0
OBS_VALUE         0
OBS_FLAG       2188
CONF_STATUS    2188
dtype: int64

In [28]:
df = df.drop(columns=["DATAFLOW", "LAST UPDATE", "OBS_FLAG", "CONF_STATUS"])

In [29]:
for col in df.columns:
    print(f"Uniques values in {col}: {df[col].unique()}")

Uniques values in freq: ['Annual']
Uniques values in citizen: ['Foreign country' 'Reporting country' 'Total']
Uniques values in unit: ['Number' 'Per hundred thousand inhabitants']
Uniques values in geo: ['Albania' 'Austria' 'Bosnia and Herzegovina' 'Belgium' 'Bulgaria'
 'Switzerland' 'Cyprus' 'Czechia' 'Denmark' 'Estonia' 'Greece' 'Spain'
 'Finland' 'France' 'Croatia' 'Hungary' 'Ireland' 'Iceland' 'Italy'
 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Latvia' 'Montenegro'
 'North Macedonia' 'Malta' 'Netherlands' 'Norway' 'Poland' 'Portugal'
 'Romania' 'Serbia' 'Sweden' 'Slovenia' 'Slovakia' 'TÃ¼rkiye'
 'England and Wales' 'Scotland (NUTS 2021)'
 'Northern Ireland (UK) (NUTS 2021)' 'Kosovo*' 'Germany']
Uniques values in TIME_PERIOD: [2013 2014 2015 2016 2017 2018 2019 2020 2021 2022]
Uniques values in OBS_VALUE: [ 84.    99.    89.   ...  87.13 100.58  78.33]

In [30]:
df = df.drop(columns=["freq"])
df = df.dropna()

In [31]:
df = df.rename(columns={"OBS_VALUE": "Crimes num"})

In [32]:
df.head()

           citizen    unit      geo  TIME_PERIOD  Crimes num
0  Foreign country  Number  Albania         2013        84.0
1  Foreign country  Number  Albania         2014        99.0
2  Foreign country  Number  Albania         2015        89.0
3  Foreign country  Number  Albania         2016        89.0
4  Foreign country  Number  Albania         2017       101.0

In [33]:
df.to_csv("../../processed_data/crimes_prisoners_by_citizenship_foreign_to_admission.csv", index=False)