In [40]:
import pandas as pd

**Third country nationals found to be illegally present - annual data (rounded)**

---
Units of measure are absolute numbers of persons.

In [41]:
df = pd.read_csv('../../data/third_country_nationals_ordered_to_leave.csv')

In [42]:
df.head()

,DATAFLOW,LAST UPDATE,freq,citizen,c_dest,age,sex,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:MIGR_EIRTN(1.0),20/09/24 23:00:00,Annual,Andorra,Third country,Total,Total,Person,Austria,2016,0.0,NaN,NaN
1,ESTAT:MIGR_EIRTN(1.0),20/09/24 23:00:00,Annual,Andorra,Third country,Total,Total,Person,Austria,2017,0.0,NaN,NaN
2,ESTAT:MIGR_EIRTN(1.0),20/09/24 23:00:00,Annual,Andorra,Third country,Total,Total,Person,Austria,2018,0.0,NaN,NaN
3,ESTAT:MIGR_EIRTN(1.0),20/09/24 23:00:00,Annual,Andorra,Third country,Total,Total,Person,Austria,2019,0.0,NaN,NaN
4,ESTAT:MIGR_EIRTN(1.0),20/09/24 23:00:00,Annual,Andorra,Third country,Total,Total,Person,Austria,2020,0.0,NaN,NaN

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49005 entries, 0 to 49004
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     49005 non-null  object
 1   LAST UPDATE  49005 non-null  object
 2   freq         49005 non-null  object
 3   citizen      49005 non-null  object
 4   c_dest       49005 non-null  object
 5   age          49005 non-null  object
 6   sex          49005 non-null  object
 7   unit         49005 non-null  object
 8   geo          49005 non-null  object
 9   TIME_PERIOD  49005 non-null  int64
 10  OBS_VALUE    48785 non-null  float64
 11  OBS_FLAG     485 non-null    object
 12  CONF_STATUS  0 non-null      float64
dtypes: float64(2), int64(1), object(10)
memory usage: 4.9+ MB

In [44]:
df.duplicated().sum()

np.int64(0)

In [45]:
df.isnull().sum()

DATAFLOW           0
LAST UPDATE        0
freq               0
citizen            0
c_dest             0
age                0
sex                0
unit               0
geo                0
TIME_PERIOD        0
OBS_VALUE        220
OBS_FLAG       48520
CONF_STATUS    49005
dtype: int64

In [46]:
df = df.drop(columns=["DATAFLOW", "LAST UPDATE", "freq", "OBS_FLAG", "CONF_STATUS"])

In [47]:
df = df[df['OBS_VALUE'] != 0]
df = df[df['geo'] != 'European Union - 27 countries (from 2020)']
df = df[df['geo'] != 'European Union - 28 countries (2013-2020)']

In [48]:
for col in df:
    unique_vals = df[col].unique()
    print(f"{col}: {unique_vals[:40]}")
    if len(unique_vals) > 40:
        print(f"... and {len(unique_vals) - 40} others")

citizen: ['United Arab Emirates' 'Afghanistan' 'Antigua and Barbuda' 'Albania'
 'Armenia' 'Angola' 'Argentina' 'Asia' 'Australia' 'Azerbaijan'
 'Bosnia and Herzegovina' 'Barbados' 'Bangladesh' 'Burkina Faso' 'Bahrain'
 'Burundi' 'Benin' 'Brunei Darussalam' 'Bolivia' 'Brazil' 'Bahamas'
 'Bhutan' 'Botswana' 'Belarus' 'Belize' 'Canada'
 'Democratic Republic of the Congo' 'Central African Republic' 'Congo'
 'Côte d’Ivoire' 'Chile' 'Cameroon' 'China' 'Colombia' 'Costa Rica' 'Cuba'
 'Cabo Verde' 'Djibouti' 'Dominica' 'Dominican Republic']
... and 122 others
c_dest: ['Third country']
age: ['Total']
sex: ['Total']
unit: ['Person']
geo: ['Austria' 'Belgium' 'Spain' 'Netherlands' 'Romania' 'Sweden'
 'United Kingdom' 'Bulgaria' 'Switzerland' 'Cyprus' 'Germany' 'Denmark'
 'Estonia' 'Greece' 'Finland' 'France' 'Croatia' 'Hungary' 'Italy'
 'Lithuania' 'Luxembourg' 'Norway' 'Poland' 'Portugal' 'Slovenia'
 'Slovakia' 'Czechia' 'Ireland' 'Liechtenstein' 'Latvia' 'Montenegro'
 'Malta' 'Iceland']
TIME_PERIOD: [2018 2019 2020 2021 2022 2023 2016 2015 2014 2017]
OBS_VALUE: [  10.   20.    5.  215.  105.   95.   80.   55.   60.  600.  335.  365.
  400.  125.  110.   15.   35.   75.  210.   45.   65.   40.  360.   25.
  320. 3390. 1245.  685.  340.   85.   30.   70.  610. 1480.  315.  170.
  230.  225.  130.  505.]
... and 352 others

In [49]:
# remove all columns with only one unique value
df = df.loc[:, df.nunique() > 1]

In [50]:
nan_df = df[df.isna().any(axis=1)]
nan_df

grouped = nan_df.groupby(['citizen', 'geo']).size().reset_index(name='count')

table = grouped.pivot(index='citizen', columns='geo', values='count').fillna(0)

print("Count of NaN Observations by Citizen and Geo:")
table
# Iterate through the pivot table and print only non-zero counts
for citizen, row in table.iterrows():
    for geo, count in row.items():
        if count != 0:
            print(f"Citizen: {citizen}, Geo: {geo} -> Count: {int(count)}")

Count of NaN Observations by Citizen and Geo:
Citizen: Asia, Geo: Netherlands -> Count: 1
Citizen: Croatia, Geo: Austria -> Count: 3
Citizen: Croatia, Geo: Belgium -> Count: 3
Citizen: Croatia, Geo: Bulgaria -> Count: 3
Citizen: Croatia, Geo: Croatia -> Count: 3
Citizen: Croatia, Geo: Cyprus -> Count: 3
Citizen: Croatia, Geo: Czechia -> Count: 2
Citizen: Croatia, Geo: Denmark -> Count: 2
Citizen: Croatia, Geo: Estonia -> Count: 3
Citizen: Croatia, Geo: France -> Count: 1
Citizen: Croatia, Geo: Germany -> Count: 1
Citizen: Croatia, Geo: Greece -> Count: 3
Citizen: Croatia, Geo: Hungary -> Count: 1
Citizen: Croatia, Geo: Ireland -> Count: 3
Citizen: Croatia, Geo: Italy -> Count: 1
Citizen: Croatia, Geo: Latvia -> Count: 3
Citizen: Croatia, Geo: Liechtenstein -> Count: 1
Citizen: Croatia, Geo: Luxembourg -> Count: 3
Citizen: Croatia, Geo: Malta -> Count: 3
Citizen: Croatia, Geo: Montenegro -> Count: 1
Citizen: Croatia, Geo: Netherlands -> Count: 3
Citizen: Croatia, Geo: Poland -> Count: 3
Citizen: Croatia, Geo: Slovakia -> Count: 3
Citizen: Croatia, Geo: Slovenia -> Count: 3
Citizen: Croatia, Geo: Spain -> Count: 2
Citizen: Croatia, Geo: Switzerland -> Count: 3
Citizen: United Kingdom, Geo: Austria -> Count: 5
Citizen: United Kingdom, Geo: Belgium -> Count: 5
Citizen: United Kingdom, Geo: Bulgaria -> Count: 5
Citizen: United Kingdom, Geo: Croatia -> Count: 5
Citizen: United Kingdom, Geo: Cyprus -> Count: 5
Citizen: United Kingdom, Geo: Czechia -> Count: 5
Citizen: United Kingdom, Geo: Denmark -> Count: 5
Citizen: United Kingdom, Geo: Estonia -> Count: 5
Citizen: United Kingdom, Geo: Finland -> Count: 5
Citizen: United Kingdom, Geo: France -> Count: 5
Citizen: United Kingdom, Geo: Germany -> Count: 5
Citizen: United Kingdom, Geo: Greece -> Count: 5
Citizen: United Kingdom, Geo: Hungary -> Count: 5
Citizen: United Kingdom, Geo: Iceland -> Count: 5
Citizen: United Kingdom, Geo: Ireland -> Count: 5
Citizen: United Kingdom, Geo: Italy -> Count: 5
Citizen: United Kingdom, Geo: Latvia -> Count: 5
Citizen: United Kingdom, Geo: Liechtenstein -> Count: 5
Citizen: United Kingdom, Geo: Lithuania -> Count: 5
Citizen: United Kingdom, Geo: Luxembourg -> Count: 5
Citizen: United Kingdom, Geo: Malta -> Count: 5
Citizen: United Kingdom, Geo: Netherlands -> Count: 4
Citizen: United Kingdom, Geo: Norway -> Count: 5
Citizen: United Kingdom, Geo: Poland -> Count: 5
Citizen: United Kingdom, Geo: Portugal -> Count: 5
Citizen: United Kingdom, Geo: Romania -> Count: 5
Citizen: United Kingdom, Geo: Slovakia -> Count: 5
Citizen: United Kingdom, Geo: Slovenia -> Count: 5
Citizen: United Kingdom, Geo: Spain -> Count: 5
Citizen: United Kingdom, Geo: Sweden -> Count: 5
Citizen: United Kingdom, Geo: Switzerland -> Count: 5
Citizen: United Kingdom, Geo: United Kingdom -> Count: 5

In [51]:
df

                    citizen             geo  TIME_PERIOD  OBS_VALUE
280    United Arab Emirates         Austria         2018       10.0
281    United Arab Emirates         Austria         2019       20.0
282    United Arab Emirates         Austria         2020        5.0
283    United Arab Emirates         Austria         2021        5.0
284    United Arab Emirates         Austria         2022       20.0
...                     ...             ...          ...        ...
49000              Zimbabwe  United Kingdom         2015      210.0
49001              Zimbabwe  United Kingdom         2016      175.0
49002              Zimbabwe  United Kingdom         2017      115.0
49003              Zimbabwe  United Kingdom         2018      120.0
49004              Zimbabwe  United Kingdom         2019      110.0

[12892 rows x 4 columns]

In [52]:
df.to_csv("../../processed_data/illegally_present_third_country_nationals.csv", index=False)