In [1]:
import pandas as pd

**All valid permits by reason on 31 December of each year**


---

Residence permit means any authorisation valid for at least 3 months issued by the authorities of a Member State allowing a third country national to stay legally on its territory. All valid permits on 31st December (end of the year).

In [2]:
df = pd.read_csv('../../data/migration_all_valid_permits_tps00171.csv')

In [3]:
df.head()

,DATAFLOW,LAST UPDATE,freq,duration,reason,unit,citizen,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:TPS00171(1.0),27/01/25 23:00:00,Annual,Total,Education reasons,Person,Total,Austria,2012,16955.0,NaN,NaN
1,ESTAT:TPS00171(1.0),27/01/25 23:00:00,Annual,Total,Education reasons,Person,Total,Austria,2013,17960.0,NaN,NaN
2,ESTAT:TPS00171(1.0),27/01/25 23:00:00,Annual,Total,Education reasons,Person,Total,Austria,2014,19538.0,NaN,NaN
3,ESTAT:TPS00171(1.0),27/01/25 23:00:00,Annual,Total,Education reasons,Person,Total,Austria,2015,22474.0,NaN,NaN
4,ESTAT:TPS00171(1.0),27/01/25 23:00:00,Annual,Total,Education reasons,Person,Total,Austria,2016,22497.0,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1485 entries, 0 to 1484
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     1485 non-null   object
 1   LAST UPDATE  1485 non-null   object
 2   freq         1485 non-null   object
 3   duration     1485 non-null   object
 4   reason       1485 non-null   object
 5   unit         1485 non-null   object
 6   citizen      1485 non-null   object
 7   geo          1485 non-null   object
 8   TIME_PERIOD  1485 non-null   int64
 9   OBS_VALUE    1484 non-null   float64
 10  OBS_FLAG     42 non-null     object
 11  CONF_STATUS  0 non-null      float64
dtypes: float64(2), int64(1), object(9)
memory usage: 139.3+ KB

In [5]:
df.duplicated().sum()

np.int64(0)

In [6]:
df.isnull().sum()

DATAFLOW          0
LAST UPDATE       0
freq              0
duration          0
reason            0
unit              0
citizen           0
geo               0
TIME_PERIOD       0
OBS_VALUE         1
OBS_FLAG       1443
CONF_STATUS    1485
dtype: int64

In [7]:
df = df.drop(columns=["DATAFLOW", "LAST UPDATE", "OBS_FLAG", "CONF_STATUS"])

In [8]:
df.head()
df = df.dropna()

In [9]:
for col in df.columns:
    print(f"Uniques values in {col}: {df[col].unique()}")

Uniques values in freq: ['Annual']
Uniques values in duration: ['Total']
Uniques values in reason: ['Education reasons' 'Family reasons' 'Other reason' 'Total']
Uniques values in unit: ['Person']
Uniques values in citizen: ['Total']
Uniques values in geo: ['Austria' 'Belgium' 'Bulgaria' 'Switzerland' 'Cyprus' 'Czechia' 'Germany'
 'Denmark' 'Estonia' 'Greece' 'Spain'
 'European Union - 27 countries (from 2020)' 'Finland' 'France' 'Croatia'
 'Hungary' 'Ireland' 'Iceland' 'Italy' 'Liechtenstein' 'Lithuania'
 'Luxembourg' 'Latvia' 'Malta' 'Netherlands' 'Norway' 'Poland' 'Portugal'
 'Romania' 'Sweden' 'Slovenia' 'Slovakia' 'United Kingdom']
Uniques values in TIME_PERIOD: [2012 2013 2014 2015 2016 2017 2018 2019 2020 2021 2022 2023]
Uniques values in OBS_VALUE: [  16955.   17960.   19538. ... 1504018. 1533551. 1577559.]

In [10]:
df = df.drop(columns=["reason", "citizen", "duration", "unit", "freq"])

In [11]:
df = df.dropna()

In [12]:
df = df.rename(columns={"OBS_VALUE": "Migrants number"})

In [13]:
df.head()

       geo  TIME_PERIOD  Migrants number
0  Austria         2012          16955.0
1  Austria         2013          17960.0
2  Austria         2014          19538.0
3  Austria         2015          22474.0
4  Austria         2016          22497.0

In [14]:
df.describe()

       TIME_PERIOD  Migrants number
count  1484.000000     1.484000e+03
mean   2017.555256     3.817354e+05
std       3.454986     1.358683e+06
min    2012.000000     4.200000e+01
25%    2015.000000     1.200800e+04
50%    2018.000000     4.547550e+04
75%    2021.000000     2.241750e+05
max    2023.000000     2.522427e+07

In [15]:
population_df = pd.read_csv('../../data/population_data_tps00001.csv')

In [16]:
population_df.head()

,DATAFLOW,LAST UPDATE,freq,indic_de,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:TPS00001(1.0),09/01/25 23:00:00,Annual,Population on 1 January - total,Andorra,2013,76246,NaN,NaN
1,ESTAT:TPS00001(1.0),09/01/25 23:00:00,Annual,Population on 1 January - total,Andorra,2016,71732,NaN,NaN
2,ESTAT:TPS00001(1.0),09/01/25 23:00:00,Annual,Population on 1 January - total,Andorra,2018,74794,e,NaN
3,ESTAT:TPS00001(1.0),09/01/25 23:00:00,Annual,Population on 1 January - total,Andorra,2019,76177,NaN,NaN
4,ESTAT:TPS00001(1.0),09/01/25 23:00:00,Annual,Population on 1 January - total,Andorra,2020,77543,e,NaN

In [17]:
population_df = population_df.drop(columns=["DATAFLOW", "LAST UPDATE", "freq", "indic_de", "OBS_FLAG", "CONF_STATUS"])

In [18]:
population_df["TIME_PERIOD"].unique()

array([2013, 2016, 2018, 2019, 2020, 2022, 2023, 2024, 2014, 2015, 2017,
       2021])

In [19]:
df["TIME_PERIOD"].unique()

array([2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022,
       2023])

In [20]:
population_df = population_df.rename(columns={"OBS_VALUE": "Population"})

In [21]:
merged_df = df.merge(population_df, how="left", left_on=["TIME_PERIOD", "geo"], right_on=["TIME_PERIOD", "geo"])

In [22]:
merged_df.head()

       geo  TIME_PERIOD  Migrants number  Population
0  Austria         2012          16955.0         NaN
1  Austria         2013          17960.0   8451860.0
2  Austria         2014          19538.0   8507786.0
3  Austria         2015          22474.0   8584926.0
4  Austria         2016          22497.0   8700471.0

In [23]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1484 entries, 0 to 1483
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   geo              1484 non-null   object
 1   TIME_PERIOD      1484 non-null   int64
 2   Migrants number  1484 non-null   float64
 3   Population       1356 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 46.5+ KB

In [24]:
population_df2 = pd.read_csv('../../data/population_total_long.csv')

In [25]:
population_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12595 entries, 0 to 12594
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  12595 non-null  object
 1   Year          12595 non-null  int64
 2   Count         12595 non-null  int64
dtypes: int64(2), object(1)
memory usage: 295.3+ KB

In [26]:
merged_df = merged_df.merge(population_df2, how="left", left_on=["TIME_PERIOD", "geo"], right_on=["Year", "Country Name"])

In [27]:
merged_df["Population"] = merged_df["Population"].fillna(merged_df["Count"])

In [28]:
merged_df.drop(columns=["Count"], inplace=True)

In [29]:
merged_df.head()

       geo  TIME_PERIOD  Migrants number  Population Country Name    Year
0  Austria         2012          16955.0   8429991.0      Austria  2012.0
1  Austria         2013          17960.0   8451860.0      Austria  2013.0
2  Austria         2014          19538.0   8507786.0      Austria  2014.0
3  Austria         2015          22474.0   8584926.0      Austria  2015.0
4  Austria         2016          22497.0   8700471.0      Austria  2016.0

In [30]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1484 entries, 0 to 1483
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   geo              1484 non-null   object
 1   TIME_PERIOD      1484 non-null   int64
 2   Migrants number  1484 non-null   float64
 3   Population       1464 non-null   float64
 4   Country Name     688 non-null    object
 5   Year             688 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 69.7+ KB

In [31]:
merged_df["Migrants number per 100k inhabitants"] = round(merged_df["Migrants number"] / merged_df["Population"] * 100_000, 2)

In [32]:
merged_df

,geo,TIME_PERIOD,Migrants number,Population,Country Name,Year,Migrants number per 100k inhabitants
0,Austria,2012,16955.0,8429991.0,Austria,2012.0,201.13
1,Austria,2013,17960.0,8451860.0,Austria,2013.0,212.50
2,Austria,2014,19538.0,8507786.0,Austria,2014.0,229.65
3,Austria,2015,22474.0,8584926.0,Austria,2015.0,261.78
4,Austria,2016,22497.0,8700471.0,Austria,2016.0,258.57
...,...,...,...,...,...,...,...
1479,United Kingdom,2014,1509007.0,64351203.0,United Kingdom,2014.0,2344.96
1480,United Kingdom,2015,1544879.0,64853393.0,United Kingdom,2015.0,2382.11
1481,United Kingdom,2016,1504018.0,65379044.0,United Kingdom,2016.0,2300.46
1482,United Kingdom,2017,1533551.0,65844142.0,United Kingdom,2017.0,2329.06
1483,United Kingdom,2018,1577559.0,66273576.0,NaN,NaN,2380.37

In [33]:
merged_df = merged_df.drop(columns=["Population", "Country Name", "Year"])

In [34]:
merged_df.head()

       geo  TIME_PERIOD  Migrants number  Migrants number per 100k inhabitants
0  Austria         2012          16955.0                                201.13
1  Austria         2013          17960.0                                212.50
2  Austria         2014          19538.0                                229.65
3  Austria         2015          22474.0                                261.78
4  Austria         2016          22497.0                                258.57

In [35]:
merged_df.to_csv("../../processed_data/migrants_all_valid_permits.csv", index=False)