In [68]:
import pandas as pd

**All valid permits by reason on 31 December of each year**


---

Residence permit means any authorisation valid for at least 3 months issued by the authorities of a Member State allowing a third country national to stay legally on its territory. All valid permits on 31st December (end of the year).

In [69]:
df = pd.read_csv('../../data/migrants_all_valid_permits.csv')

In [70]:
df.head()

,DATAFLOW,LAST UPDATE,freq,duration,reason,unit,citizen,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:TPS00171(1.0),27/01/25 23:00:00,Annual,Total,Education reasons,Person,Total,Austria,2012,16955.0,NaN,NaN
1,ESTAT:TPS00171(1.0),27/01/25 23:00:00,Annual,Total,Education reasons,Person,Total,Austria,2013,17960.0,NaN,NaN
2,ESTAT:TPS00171(1.0),27/01/25 23:00:00,Annual,Total,Education reasons,Person,Total,Austria,2014,19538.0,NaN,NaN
3,ESTAT:TPS00171(1.0),27/01/25 23:00:00,Annual,Total,Education reasons,Person,Total,Austria,2015,22474.0,NaN,NaN
4,ESTAT:TPS00171(1.0),27/01/25 23:00:00,Annual,Total,Education reasons,Person,Total,Austria,2016,22497.0,NaN,NaN

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1485 entries, 0 to 1484
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     1485 non-null   object
 1   LAST UPDATE  1485 non-null   object
 2   freq         1485 non-null   object
 3   duration     1485 non-null   object
 4   reason       1485 non-null   object
 5   unit         1485 non-null   object
 6   citizen      1485 non-null   object
 7   geo          1485 non-null   object
 8   TIME_PERIOD  1485 non-null   int64
 9   OBS_VALUE    1484 non-null   float64
 10  OBS_FLAG     42 non-null     object
 11  CONF_STATUS  0 non-null      float64
dtypes: float64(2), int64(1), object(9)
memory usage: 139.3+ KB

In [72]:
df.duplicated().sum()

np.int64(0)

In [73]:
df.isnull().sum()

DATAFLOW          0
LAST UPDATE       0
freq              0
duration          0
reason            0
unit              0
citizen           0
geo               0
TIME_PERIOD       0
OBS_VALUE         1
OBS_FLAG       1443
CONF_STATUS    1485
dtype: int64

In [74]:
df = df.drop(columns=["DATAFLOW", "LAST UPDATE", "OBS_FLAG", "CONF_STATUS"])

In [75]:
df.head()
df = df.dropna()

In [76]:
for col in df.columns:
    print(f"Uniques values in {col}: {df[col].unique()}")

Uniques values in freq: ['Annual']
Uniques values in duration: ['Total']
Uniques values in reason: ['Education reasons' 'Family reasons' 'Other reason' 'Total']
Uniques values in unit: ['Person']
Uniques values in citizen: ['Total']
Uniques values in geo: ['Austria' 'Belgium' 'Bulgaria' 'Switzerland' 'Cyprus' 'Czechia' 'Germany'
 'Denmark' 'Estonia' 'Greece' 'Spain'
 'European Union - 27 countries (from 2020)' 'Finland' 'France' 'Croatia'
 'Hungary' 'Ireland' 'Iceland' 'Italy' 'Liechtenstein' 'Lithuania'
 'Luxembourg' 'Latvia' 'Malta' 'Netherlands' 'Norway' 'Poland' 'Portugal'
 'Romania' 'Sweden' 'Slovenia' 'Slovakia' 'United Kingdom']
Uniques values in TIME_PERIOD: [2012 2013 2014 2015 2016 2017 2018 2019 2020 2021 2022 2023]
Uniques values in OBS_VALUE: [  16955.   17960.   19538. ... 1504018. 1533551. 1577559.]

In [77]:
df = df[df["reason"] == "Total"]
df = df.drop(columns=["reason", "citizen", "duration", "unit", "freq"])

In [78]:
df = df.dropna()

In [79]:
df = df.rename(columns={"OBS_VALUE": "Migrants number"})

In [80]:
df.head()

          geo  TIME_PERIOD  Migrants number
1113  Austria         2012         493171.0
1114  Austria         2013         450410.0
1115  Austria         2014         427923.0
1116  Austria         2015         453069.0
1117  Austria         2016         471054.0

In [81]:
df.describe()

       TIME_PERIOD  Migrants number
count   371.000000     3.710000e+02
mean   2017.555256     8.886252e+05
std       3.458486     2.400657e+06
min    2012.000000     3.527000e+03
25%    2015.000000     7.205650e+04
50%    2018.000000     2.186010e+05
75%    2021.000000     5.710145e+05
max    2023.000000     2.522427e+07

In [82]:
population_df = pd.read_csv('../../data/country_population.csv')

In [83]:
population_df.head()

,DATAFLOW,LAST UPDATE,freq,indic_de,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:DEMO_GIND(1.0),27/03/25 23:00:00,Annual,Population on 1 January - total,Andorra,2003,67159,NaN,NaN
1,ESTAT:DEMO_GIND(1.0),27/03/25 23:00:00,Annual,Population on 1 January - total,Andorra,2004,72320,NaN,NaN
2,ESTAT:DEMO_GIND(1.0),27/03/25 23:00:00,Annual,Population on 1 January - total,Andorra,2005,76875,NaN,NaN
3,ESTAT:DEMO_GIND(1.0),27/03/25 23:00:00,Annual,Population on 1 January - total,Andorra,2006,78549,NaN,NaN
4,ESTAT:DEMO_GIND(1.0),27/03/25 23:00:00,Annual,Population on 1 January - total,Andorra,2007,81222,NaN,NaN

In [84]:
population_df = population_df.drop(columns=["DATAFLOW", "LAST UPDATE", "freq", "indic_de", "OBS_FLAG", "CONF_STATUS"])

In [85]:
population_df["TIME_PERIOD"].unique()

array([2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2016, 2018, 2019, 2020, 2022, 2023, 2024, 2014, 2015, 2017, 2021])

In [86]:
df["TIME_PERIOD"].unique()

array([2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022,
       2023])

In [87]:
population_df = population_df.rename(columns={"OBS_VALUE": "Population"})

In [88]:
merged_df = df.merge(population_df, how="left", left_on=["TIME_PERIOD", "geo"], right_on=["TIME_PERIOD", "geo"])

In [89]:
merged_df.head()

       geo  TIME_PERIOD  Migrants number  Population
0  Austria         2012         493171.0     8408121
1  Austria         2013         450410.0     8451860
2  Austria         2014         427923.0     8507786
3  Austria         2015         453069.0     8584926
4  Austria         2016         471054.0     8700471

In [90]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   geo              371 non-null    object
 1   TIME_PERIOD      371 non-null    int64
 2   Migrants number  371 non-null    float64
 3   Population       371 non-null    int64
dtypes: float64(1), int64(2), object(1)
memory usage: 11.7+ KB

In [91]:
merged_df.head()

       geo  TIME_PERIOD  Migrants number  Population
0  Austria         2012         493171.0     8408121
1  Austria         2013         450410.0     8451860
2  Austria         2014         427923.0     8507786
3  Austria         2015         453069.0     8584926
4  Austria         2016         471054.0     8700471

In [92]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   geo              371 non-null    object
 1   TIME_PERIOD      371 non-null    int64
 2   Migrants number  371 non-null    float64
 3   Population       371 non-null    int64
dtypes: float64(1), int64(2), object(1)
memory usage: 11.7+ KB

In [93]:
merged_df["Migrants number per 100k inhabitants"] = round(merged_df["Migrants number"] / merged_df["Population"] * 100_000, 2)

In [94]:
merged_df = merged_df.rename(columns={"TIME_PERIOD": "year"})

In [95]:
merged_df

,geo,year,Migrants number,Population,Migrants number per 100k inhabitants
0,Austria,2012,493171.0,8408121,5865.41
1,Austria,2013,450410.0,8451860,5329.12
2,Austria,2014,427923.0,8507786,5029.78
3,Austria,2015,453069.0,8584926,5277.49
4,Austria,2016,471054.0,8700471,5414.12
...,...,...,...,...,...
366,United Kingdom,2014,1509007.0,64351203,2344.96
367,United Kingdom,2015,1544879.0,64853393,2382.11
368,United Kingdom,2016,1504018.0,65379044,2300.46
369,United Kingdom,2017,1533551.0,65844142,2329.06
370,United Kingdom,2018,1577559.0,66273576,2380.37

In [96]:
merged_df.head()

,geo,year,Migrants number,Population,Migrants number per 100k inhabitants
0,Austria,2012,493171.0,8408121,5865.41
1,Austria,2013,450410.0,8451860,5329.12
2,Austria,2014,427923.0,8507786,5029.78
3,Austria,2015,453069.0,8584926,5277.49
4,Austria,2016,471054.0,8700471,5414.12

In [97]:
merged_df.to_csv("../../processed_data/migrants_all_valid_permits.csv", index=False)