In [123]:
import pandas as pd

**All valid permits by reason on 31 December of each year**


---

Residence permit means any authorisation valid for at least 3 months issued by the authorities of a Member State allowing a third country national to stay legally on its territory. All valid permits on 31st December (end of the year).

Units of measure are are in general absolute numbers of persons for residence permit statistics.

In [124]:
df = pd.read_csv('../../data/migration_all_valid_permits_tps00171.csv')

In [125]:
df.head()

,DATAFLOW,LAST UPDATE,freq,duration,reason,unit,citizen,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:TPS00171(1.0),27/01/25 23:00:00,Annual,Total,Education reasons,Person,Total,Austria,2012,16955.0,NaN,NaN
1,ESTAT:TPS00171(1.0),27/01/25 23:00:00,Annual,Total,Education reasons,Person,Total,Austria,2013,17960.0,NaN,NaN
2,ESTAT:TPS00171(1.0),27/01/25 23:00:00,Annual,Total,Education reasons,Person,Total,Austria,2014,19538.0,NaN,NaN
3,ESTAT:TPS00171(1.0),27/01/25 23:00:00,Annual,Total,Education reasons,Person,Total,Austria,2015,22474.0,NaN,NaN
4,ESTAT:TPS00171(1.0),27/01/25 23:00:00,Annual,Total,Education reasons,Person,Total,Austria,2016,22497.0,NaN,NaN

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1485 entries, 0 to 1484
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     1485 non-null   object
 1   LAST UPDATE  1485 non-null   object
 2   freq         1485 non-null   object
 3   duration     1485 non-null   object
 4   reason       1485 non-null   object
 5   unit         1485 non-null   object
 6   citizen      1485 non-null   object
 7   geo          1485 non-null   object
 8   TIME_PERIOD  1485 non-null   int64
 9   OBS_VALUE    1484 non-null   float64
 10  OBS_FLAG     42 non-null     object
 11  CONF_STATUS  0 non-null      float64
dtypes: float64(2), int64(1), object(9)
memory usage: 139.3+ KB

In [127]:
df.duplicated().sum()

np.int64(0)

In [128]:
df.isnull().sum()

DATAFLOW          0
LAST UPDATE       0
freq              0
duration          0
reason            0
unit              0
citizen           0
geo               0
TIME_PERIOD       0
OBS_VALUE         1
OBS_FLAG       1443
CONF_STATUS    1485
dtype: int64

In [129]:
df = df.drop(columns=["DATAFLOW", "LAST UPDATE", "OBS_FLAG", "CONF_STATUS"])

In [130]:
df.head()
df = df.dropna()

In [131]:
for col in df.columns:
    print(f"Uniques values in {col}: {df[col].unique()}")

Uniques values in freq: ['Annual']
Uniques values in duration: ['Total']
Uniques values in reason: ['Education reasons' 'Family reasons' 'Other reason' 'Total']
Uniques values in unit: ['Person']
Uniques values in citizen: ['Total']
Uniques values in geo: ['Austria' 'Belgium' 'Bulgaria' 'Switzerland' 'Cyprus' 'Czechia' 'Germany'
 'Denmark' 'Estonia' 'Greece' 'Spain'
 'European Union - 27 countries (from 2020)' 'Finland' 'France' 'Croatia'
 'Hungary' 'Ireland' 'Iceland' 'Italy' 'Liechtenstein' 'Lithuania'
 'Luxembourg' 'Latvia' 'Malta' 'Netherlands' 'Norway' 'Poland' 'Portugal'
 'Romania' 'Sweden' 'Slovenia' 'Slovakia' 'United Kingdom']
Uniques values in TIME_PERIOD: [2012 2013 2014 2015 2016 2017 2018 2019 2020 2021 2022 2023]
Uniques values in OBS_VALUE: [  16955.   17960.   19538. ... 1504018. 1533551. 1577559.]

In [132]:
df = df[df["geo"] != "European Union - 27 countries (from 2020)"]

In [133]:
df = df.drop(columns=["reason", "citizen", "duration", "unit", "freq"])

In [134]:
df = df.dropna()

In [135]:
df = df.rename(columns={"OBS_VALUE": "Migrants"})

In [136]:
df.head()

       geo  TIME_PERIOD  Migrants
0  Austria         2012   16955.0
1  Austria         2013   17960.0
2  Austria         2014   19538.0
3  Austria         2015   22474.0
4  Austria         2016   22497.0

In [137]:
df.describe()

       TIME_PERIOD      Migrants
count  1472.000000  1.472000e+03
mean   2017.519022  3.038971e+05
std       3.444763  7.124761e+05
min    2012.000000  4.200000e+01
25%    2015.000000  1.175100e+04
50%    2017.500000  4.429750e+04
75%    2021.000000  2.191000e+05
max    2023.000000  5.724832e+06

In [138]:
df.to_csv("../../processed_data/migrants_all_valid_permits.csv", index=False)

In [139]:
# TODO: trzeba dodać żeby było na 100 000 mieszkańców