In [60]:
import pandas as pd

**All valid permits by reason on 31 December of each year**


---

Residence permit means any authorisation valid for at least 3 months issued by the authorities of a Member State allowing a third country national to stay legally on its territory. All valid permits on 31st December (end of the year).

In [61]:
df = pd.read_csv('../../data/migrants_all_valid_permits.csv')

In [62]:
df.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,duration,Duration,reason,Reason,unit,...,geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:MIGR_RESVALID(1.0),"All valid permits by reason, length of validit...",A,Annual,TOTAL,Total,TOTAL,Total,PER,...,AT,Austria,2016,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:MIGR_RESVALID(1.0),"All valid permits by reason, length of validit...",A,Annual,TOTAL,Total,TOTAL,Total,PER,...,AT,Austria,2017,NaN,2.0,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:MIGR_RESVALID(1.0),"All valid permits by reason, length of validit...",A,Annual,TOTAL,Total,TOTAL,Total,PER,...,AT,Austria,2018,NaN,2.0,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:MIGR_RESVALID(1.0),"All valid permits by reason, length of validit...",A,Annual,TOTAL,Total,TOTAL,Total,PER,...,AT,Austria,2019,NaN,2.0,NaN,NaN,NaN,NaN,NaN
4,dataflow,ESTAT:MIGR_RESVALID(1.0),"All valid permits by reason, length of validit...",A,Annual,TOTAL,Total,TOTAL,Total,PER,...,AT,Austria,2020,NaN,2.0,NaN,NaN,NaN,NaN,NaN

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71521 entries, 0 to 71520
Data columns (total 23 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   STRUCTURE                               71521 non-null  object
 1   STRUCTURE_ID                            71521 non-null  object
 2   STRUCTURE_NAME                          71521 non-null  object
 3   freq                                    71521 non-null  object
 4   Time frequency                          71521 non-null  object
 5   duration                                71521 non-null  object
 6   Duration                                71521 non-null  object
 7   reason                                  71521 non-null  object
 8   Reason                                  71521 non-null  object
 9   unit                                    71521 non-null  object
 10  Unit of measure                         71521 non-null  object
 11  citizen                                 71084 non-null  object
 12  Country of citizenship                  71521 non-null  object
 13  geo                                     71521 non-null  object
 14  Geopolitical entity (reporting)         71521 non-null  object
 15  TIME_PERIOD                             71521 non-null  int64
 16  Time                                    0 non-null      float64
 17  OBS_VALUE                               70857 non-null  float64
 18  Observation value                       0 non-null      float64
 19  OBS_FLAG                                2831 non-null   object
 20  Observation status (Flag) V2 structure  2831 non-null   object
 21  CONF_STATUS                             0 non-null      float64
 22  Confidentiality status (flag)           0 non-null      float64
dtypes: float64(5), int64(1), object(17)
memory usage: 12.6+ MB

In [64]:
df.duplicated().sum()

np.int64(0)

In [65]:
df.isnull().sum()

STRUCTURE                                     0
STRUCTURE_ID                                  0
STRUCTURE_NAME                                0
freq                                          0
Time frequency                                0
duration                                      0
Duration                                      0
reason                                        0
Reason                                        0
unit                                          0
Unit of measure                               0
citizen                                     437
Country of citizenship                        0
geo                                           0
Geopolitical entity (reporting)               0
TIME_PERIOD                                   0
Time                                      71521
OBS_VALUE                                   664
Observation value                         71521
OBS_FLAG                                  68690
Observation status (Flag) V2 structure    68690
CONF_STATUS                               71521
Confidentiality status (flag)             71521
dtype: int64

In [66]:
df = df[["Country of citizenship", "Geopolitical entity (reporting)", "OBS_VALUE", "TIME_PERIOD"]]
df = df.rename(columns={
    "Geopolitical entity (reporting)": "geo",
    "TIME_PERIOD": "year"
})

In [67]:
df.head()
df = df.dropna()

In [68]:
for col in df.columns:
    print(f"Uniques values in {col}: {df[col].unique()}")

Uniques values in Country of citizenship: ['Andorra' 'United Arab Emirates' 'Afghanistan' 'Antigua and Barbuda'
 'Albania' 'Armenia' 'Angola' 'Argentina' 'Australia' 'Azerbaijan'
 'Bosnia and Herzegovina' 'Barbados' 'Bangladesh' 'Burkina Faso' 'Bahrain'
 'Burundi' 'Benin' 'Brunei Darussalam' 'Bolivia' 'Brazil' 'Bahamas'
 'Bhutan' 'Botswana' 'Belarus' 'Belize' 'Canada'
 'Democratic Republic of the Congo' 'Central African Republic' 'Congo'
 'Switzerland' 'CÃ´te dâ€™Ivoire' 'Cook Islands' 'Chile' 'Cameroon' 'China'
 'Colombia' 'Costa Rica' 'Cuba' 'Cabo Verde' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Algeria' 'Ecuador' 'Egypt' 'Western Sahara'
 'Eritrea' 'Ethiopia' 'Fiji' 'Federated States of Micronesia' 'Gabon'
 'Grenada' 'Georgia' 'Ghana' 'Gambia, The' 'Guinea' 'Equatorial Guinea'
 'Guatemala' 'Guinea-Bissau' 'Guyana' 'Honduras' 'Croatia' 'Haiti'
 'Indonesia' 'Israel' 'India' 'Iraq' 'Iran' 'Iceland' 'Jamaica' 'Jordan'
 'Japan' 'Kenya' 'Kyrgyzstan' 'Cambodia' 'Kiribati' 'Comoros'
 'Saint Kitts and Nevis' 'North Korea' 'South Korea' 'Kuwait' 'Kazakhstan'
 'Laos' 'Lebanon' 'Saint Lucia' 'Liechtenstein' 'Sri Lanka' 'Liberia'
 'Lesotho' 'Libya' 'Morocco' 'Monaco' 'Moldova' 'Montenegro' 'Madagascar'
 'Marshall Islands' 'North Macedonia' 'Mali' 'Myanmar/Burma' 'Mongolia'
 'Mauritania' 'Mauritius' 'Maldives' 'Malawi' 'Mexico' 'Malaysia'
 'Mozambique' 'Namibia' 'Niger' 'Nigeria' 'Nicaragua' 'Norway' 'Nepal'
 'Nauru' 'New Zealand' 'Oman' 'Panama' 'Peru' 'Papua New Guinea'
 'Philippines' 'Pakistan' 'Palestine*' 'Palau' 'Paraguay' 'Qatar'
 'Recognised non-citizens' 'Serbia' 'Russia' 'Rwanda' 'Saudi Arabia'
 'Solomon Islands' 'Seychelles' 'Sudan' 'Singapore' 'Sierra Leone'
 'San Marino' 'Senegal' 'Somalia' 'Suriname' 'South Sudan'
 'SÃ£o TomÃ© and PrÃ­ncipe' 'Stateless' 'El Salvador' 'Syria' 'Eswatini'
 'Chad' 'Togo' 'Thailand' 'Tajikistan' 'Timor-Leste' 'Turkmenistan'
 'Tunisia' 'Tonga' 'Total' 'TÃ¼rkiye' 'Trinidad and Tobago' 'Tuvalu'
 'Taiwan' 'Tanzania' 'Ukraine' 'Uganda' 'United Kingdom'
 'British overseas countries and territories' 'Unknown' 'United States'
 'Uruguay' 'Uzbekistan' 'Holy See' 'Saint Vincent and the Grenadines'
 'Venezuela' 'Viet Nam' 'Vanuatu' 'Samoa' 'Kosovo*' 'Yemen' 'South Africa'
 'Zambia' 'Zimbabwe']
Uniques values in geo: ['Austria' 'Belgium' 'Bulgaria' 'Switzerland' 'Cyprus' 'Czechia' 'Germany'
 'Denmark' 'Estonia' 'Greece' 'Spain' 'Finland' 'France' 'Croatia'
 'Hungary' 'Ireland' 'Iceland' 'Italy' 'Liechtenstein' 'Lithuania'
 'Luxembourg' 'Latvia' 'Malta' 'Netherlands' 'Norway' 'Poland' 'Portugal'
 'Romania' 'Sweden' 'Slovenia' 'Slovakia' 'United Kingdom']
Uniques values in OBS_VALUE: [1.0000e+00 2.0000e+00 9.0000e+00 ... 1.6822e+04 1.1270e+04 8.5640e+03]
Uniques values in year: [2016 2017 2018 2019 2020 2021 2022 2023 2008 2009 2010 2011 2012 2013
 2014 2015]

In [69]:
df = df.rename(columns={"OBS_VALUE": "Migrants number"})

In [70]:
df.head()

  Country of citizenship      geo  Migrants number  year
0                Andorra  Austria              1.0  2016
1                Andorra  Austria              2.0  2017
2                Andorra  Austria              2.0  2018
3                Andorra  Austria              2.0  2019
4                Andorra  Austria              2.0  2020

In [71]:
df.describe()

       Migrants number          year
count     7.085700e+04  70857.000000
mean      9.116500e+03   2016.121230
std       1.143862e+05      4.599027
min       0.000000e+00   2008.000000
25%       7.000000e+00   2012.000000
50%       6.300000e+01   2016.000000
75%       6.930000e+02   2020.000000
max       5.724832e+06   2023.000000

In [72]:
population_df = pd.read_csv('../../data/country_population.csv')

In [73]:
population_df.head()

,DATAFLOW,LAST UPDATE,freq,indic_de,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:DEMO_GIND(1.0),27/03/25 23:00:00,Annual,Population on 1 January - total,Andorra,2003,67159,NaN,NaN
1,ESTAT:DEMO_GIND(1.0),27/03/25 23:00:00,Annual,Population on 1 January - total,Andorra,2004,72320,NaN,NaN
2,ESTAT:DEMO_GIND(1.0),27/03/25 23:00:00,Annual,Population on 1 January - total,Andorra,2005,76875,NaN,NaN
3,ESTAT:DEMO_GIND(1.0),27/03/25 23:00:00,Annual,Population on 1 January - total,Andorra,2006,78549,NaN,NaN
4,ESTAT:DEMO_GIND(1.0),27/03/25 23:00:00,Annual,Population on 1 January - total,Andorra,2007,81222,NaN,NaN

In [74]:
population_df = population_df.drop(columns=["DATAFLOW", "LAST UPDATE", "freq", "indic_de", "OBS_FLAG", "CONF_STATUS"])

In [75]:
population_df["TIME_PERIOD"].unique()

array([2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2016, 2018, 2019, 2020, 2022, 2023, 2024, 2014, 2015, 2017, 2021])

In [76]:
df["year"].unique()

array([2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015])

In [77]:
population_df = population_df.rename(columns={"OBS_VALUE": "Population"})

In [78]:
merged_df = df.merge(population_df, how="left", left_on=["year", "geo"], right_on=["TIME_PERIOD", "geo"])

In [79]:
merged_df.head()

,Country of citizenship,geo,Migrants number,year,TIME_PERIOD,Population
0,Andorra,Austria,1.0,2016,2016,8700471
1,Andorra,Austria,2.0,2017,2017,8772865
2,Andorra,Austria,2.0,2018,2018,8822267
3,Andorra,Austria,2.0,2019,2019,8858775
4,Andorra,Austria,2.0,2020,2020,8901064

In [80]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70857 entries, 0 to 70856
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country of citizenship  70857 non-null  object
 1   geo                     70857 non-null  object
 2   Migrants number         70857 non-null  float64
 3   year                    70857 non-null  int64
 4   TIME_PERIOD             70857 non-null  int64
 5   Population              70857 non-null  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 3.2+ MB

In [81]:
merged_df["Migrants number per 100k inhabitants"] = round(merged_df["Migrants number"] / merged_df["Population"] * 100_000, 2)

In [82]:
merged_df.drop(columns=["TIME_PERIOD"], inplace=True)

In [83]:
merged_df.head()

,Country of citizenship,geo,Migrants number,year,Population,Migrants number per 100k inhabitants
0,Andorra,Austria,1.0,2016,8700471,0.01
1,Andorra,Austria,2.0,2017,8772865,0.02
2,Andorra,Austria,2.0,2018,8822267,0.02
3,Andorra,Austria,2.0,2019,8858775,0.02
4,Andorra,Austria,2.0,2020,8901064,0.02

In [84]:
merged_df.to_csv("../../processed_data/migrants_all_valid_permits.csv", index=False)