In [47]:
import pandas as pd

**Third country nationals found to be illegally present - annual data (rounded)**

---
Units of measure are absolute numbers of persons.

In [48]:
df = pd.read_csv('../../data/migrants_illegally_present_migr_eipre.csv')

In [49]:
df.head()

,DATAFLOW,LAST UPDATE,freq,reason,apprehen,citizen,sex,age,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:MIGR_EIPRE$DEFAULTVIEW(1.0),NaN,Annual,Illegal entry,Between border crossing points - at land,Total,Total,Total,Person,Austria,2021,0,NaN,NaN
1,ESTAT:MIGR_EIPRE$DEFAULTVIEW(1.0),NaN,Annual,Illegal entry,Between border crossing points - at land,Total,Total,Total,Person,Austria,2022,0,NaN,NaN
2,ESTAT:MIGR_EIPRE$DEFAULTVIEW(1.0),NaN,Annual,Illegal entry,Between border crossing points - at land,Total,Total,Total,Person,Belgium,2021,0,NaN,NaN
3,ESTAT:MIGR_EIPRE$DEFAULTVIEW(1.0),NaN,Annual,Illegal entry,Between border crossing points - at land,Total,Total,Total,Person,Belgium,2022,0,NaN,NaN
4,ESTAT:MIGR_EIPRE$DEFAULTVIEW(1.0),NaN,Annual,Illegal entry,Between border crossing points - at land,Total,Total,Total,Person,Belgium,2023,0,NaN,NaN

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2535 entries, 0 to 2534
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     2535 non-null   object
 1   LAST UPDATE  0 non-null      float64
 2   freq         2535 non-null   object
 3   reason       2535 non-null   object
 4   apprehen     2535 non-null   object
 5   citizen      2535 non-null   object
 6   sex          2535 non-null   object
 7   age          2535 non-null   object
 8   unit         2535 non-null   object
 9   geo          2535 non-null   object
 10  TIME_PERIOD  2535 non-null   int64
 11  OBS_VALUE    2535 non-null   int64
 12  OBS_FLAG     8 non-null      object
 13  CONF_STATUS  0 non-null      float64
dtypes: float64(2), int64(2), object(10)
memory usage: 277.4+ KB

In [51]:
df.duplicated().sum()

np.int64(0)

In [52]:
df.isnull().sum()

DATAFLOW          0
LAST UPDATE    2535
freq              0
reason            0
apprehen          0
citizen           0
sex               0
age               0
unit              0
geo               0
TIME_PERIOD       0
OBS_VALUE         0
OBS_FLAG       2527
CONF_STATUS    2535
dtype: int64

In [53]:
df = df.drop(columns=["DATAFLOW", "LAST UPDATE", "OBS_FLAG", "CONF_STATUS"])

In [54]:
for col in df.columns:
    print(f"Uniques values in {col}: {df[col].unique()}")

Uniques values in freq: ['Annual']
Uniques values in reason: ['Illegal entry' 'Overstay' 'Other reason' 'Total']
Uniques values in apprehen: ['Between border crossing points - at land'
 'Between border crossing points - at sea'
 'At the border crossing point – at sea, land, air'
 'In the external border area' 'In the inland area' 'Total']
Uniques values in citizen: ['Total']
Uniques values in sex: ['Total']
Uniques values in age: ['Total']
Uniques values in unit: ['Person']
Uniques values in geo: ['Austria' 'Belgium' 'Bulgaria' 'Switzerland' 'Cyprus' 'Czechia' 'Germany'
 'Denmark' 'Estonia' 'Greece' 'Spain'
 'European Union - 27 countries (from 2020)' 'Finland' 'France' 'Croatia'
 'Hungary' 'Ireland' 'Iceland' 'Italy' 'Liechtenstein' 'Lithuania'
 'Luxembourg' 'Latvia' 'Montenegro' 'Malta' 'Netherlands' 'Norway'
 'Poland' 'Portugal' 'Romania' 'Sweden' 'Slovenia' 'Slovakia'
 'European Union - 28 countries (2013-2020)' 'United Kingdom']
Uniques values in TIME_PERIOD: [2021 2022 2023 2020 2019 2014 2015 2016 2017 2018]
Uniques values in OBS_VALUE: [      0     880    5645    3795    5670       5      10    6035    7165
    7620  121010      15    1160   11680   12160   61295  132595   90310
      50     240    2890      20    1775     765    7865   29655     190
     530     650      55    4800   13105   41715   72285  199475      80
   67475  105130  157650     160     110      30     210     935     535
      45     355      25      85     100   12925      40     895    1640
    1900    1615    1280     430    1110     605     130    1805    2495
    6565    2165    2275     150     295     305     145    1090    6635
    4330    5730      90     105   10870   20265   49435  333405      35
    2775   12960   12670   62405  133205   90440   69285  107625  164215
     285    2900    2185    2285    2085    1060    8175   29800     545
     165    2685   17640    6330    6870    8205    8555    1770    5895
   24410    4740   65410   90565      95     175     180   26405   28100
   22445  343140     395     310    5085    5000    3990   10195   30080
   53630   12480   26505   11605   22785   28185   26460     800     120
      60     270     235     300     860    1915    1500    1435    2630
     810     245     815    1150   59315    1255   10940   46350      70
    9320   21975    7500    5900    5095     135     280   37275   48370
   71880  676545     400     345    5975    6640    5885   12965   43040
   66305   74880  159710  102045   92070  135810  190680      75     320
    4395    3620    4910    2330    1205    8990   30950    1445   11485
   47005     620     585    1075     680     220   76950      65     375
     415    1790    2780    4230     140     250   54965   60105   54865
    1215    1830   13255    7485     170     335     330    1265    2485
    1480    1710     405     770    1815    2705    1100     685   83590
     155     265   54985   60120   54885   14050    1715     195    4690
    5305    6925   10725    1440    2020    3295    5525     215     655
     515     740     640     225   30615   68100   90860  108955     290
     340     125     360     470     920     480    1170    1310    1000
     570     595    1315    1765    2120    1590     760    2785    2350
     955    1340    1650     255     205     830    2540    5535     325
     905     720     790  192545     755    2795    4355     460     625
    1185   55160   60145   54930   13280   14055    1045     700     695
     525    1950    1845    3800    4265    3880    2770    4040     275
    1115    8010    6485    7545     965     785     560     200   15580
     440     725     835    3650    2310    1390    2240    2390     950
    3105    4900    8325     975    1675   23630    3750    2355    2410
    2395    1250    1295    9000   11385   15910   38410   10885    9820
    9945    1225     550  132900  173105  308925  109055  104975  107900
     315     350     185     875    4915    5470    6475    1365    1375
    4055    6470     485    2050    1740    1690   10790   10730    3115
    1425  332560  109495  105700  108735     115    4100    2665    2805
    1015    6450    5045    7765    9215   11870   16310    1995    5700
  135655    1165   11695   12175   61410  132685   90430    6575    2895
     500    8260    8315   13110  199520    1080    1555    1120     365
     380  105455     420     435    3125    5145    6965    1735     820
   59725   62995   57305    1810    5100   10635   13300    7505    3665
    4095    5710    6530   10325    3095  105545   59465    2765    7255
    6835     780   20320  500090     450   13135   13080  121135  195680
  147735  110230  168285   13540   14085     390    6560    4595    6065
   14950   18685   10965   32550     660    9885   10010    2875   17890
   11020   15130   19280    3280   10705   28930   10820  120285  198310
  263670     690     610   27145   28740   22665  761020    1025  114145
  109990  112010   10640   30695   54870   13005   26835   12045    1240
    1485    1065     840     540    1070    2305    3360    6235    5915
   10415    1855    2170    1780    3520    3465   61245    1515   11155
   46655   33055   86220   49810   26660   18840   16090   18715   15540
   16275   19320   18285   19145   17585   11495   10825   12870   20810
   14125    2595    1305     670    3200   10135   22805   13800   15555
   15765   13940   14420   13885    4980    4215    3450    4090    6040
    8895    6215   11175   21025   10115    4430    8165    4885    4360
    4505    4995    6515   11040   29130   11185  128290  376435  370555
  156710  134125  133525  117930    1105    1135    1195     490     425
     510     980     665    1330     855   73670  911470  204820   68110
   93365  123025   47295   38015   49060   72105   47885   42605   37295
   44625   78280   62865   72265  606850 2085465  924035  563825  572195
  627900  557455  679730 1120380 1265350  672215 2155485  983935  618730
  600025  650175    2930   14285    2130     930    1220    1145    1190
   96375  109720   91985  115085  105880  120455  103915  117265  115135
  118975    2500    3320    3495    5580   13630   22240   43830   67950
   56170  424055   41560   25730   18915   36440   89370  134140  222515
  159780     900    2315    2045    2790   25300   27305   32365   36230
   26780   26885  138420  194750    2465    2040    1920    2210    2660
    2440    1960    5025    4235     580    1020     745   13575   14205
    1130     995     990     575     590    1405    1695    2645    3150
    2760    3565    3640    5010    5510    3720    5455    5330    3850
    3230    2915    1430   12050   16835   23375   28470   31245   30900
   12170   12795   10510   16480    4530    6500    6005    4760    5890
    3145    2335    2010    2430    3340    2565    3030    3475   10780
   18465   21390   72835    1210    2145    1720    2615    2635    2455
    2510    2475    4180    4345    5765    4605   14430   35215    1155
    1985    2035    2590    2005   11705   47310   65365   70020   59895
   54910   27830   22275]

In [55]:
df = df[df["geo"] != "European Union - 27 countries (from 2020)"]
df = df[df["geo"] != "European Union - 28 countries (2013-2020)"]

In [56]:
df = df.drop(columns=["freq", "citizen", "sex", "age", "unit"])
df = df.dropna()

In [57]:
df = df.rename(columns={"OBS_VALUE": "Migrants"})

In [58]:
df.tail()

     reason apprehen             geo  TIME_PERIOD  Migrants
2530  Total    Total  United Kingdom         2015     70020
2531  Total    Total  United Kingdom         2016     59895
2532  Total    Total  United Kingdom         2017     54910
2533  Total    Total  United Kingdom         2018     27830
2534  Total    Total  United Kingdom         2019     22275

In [59]:
# TODO: liczone na 100 000 mieszkańców

In [60]:
df.to_csv("../../processed_data/migrants_illegally_present.csv", index=False)