In [17]:
import pandas as pd

All valid permits by reason citizenship on 31 December of each year

In [18]:
df = pd.read_csv('../../data/reasons_valid_permits.csv')

In [19]:
df.columns

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'freq', 'Time frequency',
       'duration', 'Duration', 'reason', 'Reason', 'unit', 'Unit of measure',
       'citizen', 'Country of citizenship', 'geo',
       'Geopolitical entity (reporting)', 'TIME_PERIOD', 'Time', 'OBS_VALUE',
       'Observation value', 'OBS_FLAG',
       'Observation status (Flag) V2 structure', 'CONF_STATUS',
       'Confidentiality status (flag)'],
      dtype='object')

In [20]:
df.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,duration,Duration,reason,Reason,unit,...,geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:MIGR_RESVALID(1.0),"All valid permits by reason, length of validit...",A,Annual,TOTAL,Total,EDUC,Education reasons,PER,...,AT,Austria,2021,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:MIGR_RESVALID(1.0),"All valid permits by reason, length of validit...",A,Annual,TOTAL,Total,EDUC,Education reasons,PER,...,AT,Austria,2022,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:MIGR_RESVALID(1.0),"All valid permits by reason, length of validit...",A,Annual,TOTAL,Total,EDUC,Education reasons,PER,...,AT,Austria,2023,NaN,0.0,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:MIGR_RESVALID(1.0),"All valid permits by reason, length of validit...",A,Annual,TOTAL,Total,EDUC,Education reasons,PER,...,BE,Belgium,2010,NaN,1.0,NaN,NaN,NaN,NaN,NaN
4,dataflow,ESTAT:MIGR_RESVALID(1.0),"All valid permits by reason, length of validit...",A,Annual,TOTAL,Total,EDUC,Education reasons,PER,...,BE,Belgium,2011,NaN,1.0,NaN,NaN,NaN,NaN,NaN

In [21]:
df = df[['Reason', 'Country of citizenship', 'Geopolitical entity (reporting)', 'TIME_PERIOD', 'OBS_VALUE']]

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308421 entries, 0 to 308420
Data columns (total 5 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Reason                           308421 non-null  object
 1   Country of citizenship           308421 non-null  object
 2   Geopolitical entity (reporting)  308421 non-null  object
 3   TIME_PERIOD                      308421 non-null  int64
 4   OBS_VALUE                        300563 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 11.8+ MB

Ponad 8 tysięcy nulli

In [23]:
df[df['Country of citizenship'] == 'Total'].info()

<class 'pandas.core.frame.DataFrame'>
Index: 2573 entries, 48704 to 304192
Data columns (total 5 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Reason                           2573 non-null   object
 1   Country of citizenship           2573 non-null   object
 2   Geopolitical entity (reporting)  2573 non-null   object
 3   TIME_PERIOD                      2573 non-null   int64
 4   OBS_VALUE                        2559 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 120.6+ KB

Dla total praktycznie brak nulli

In [24]:
df = df[df['Country of citizenship'] == 'Total']

In [25]:
df.dropna(inplace=True)

In [26]:
df.rename(columns={
    'Geopolitical entity (reporting)': 'geo',
    'TIME_PERIOD': 'year', 
    'OBS_VALUE': 'number_of_permits'
}, inplace=True)

In [27]:
df.to_csv("../../processed_data/reasons_valid_permits.csv", index=False)