In [16]:
import pandas as pd

**Third country nationals refused entry at the external borders - annual data (rounded)**

---

Units of measure are absolute numbers of persons.

In [17]:
df = pd.read_csv('../../data/migrants_refused_entry_at_the_border_migr_eirf.csv')

In [18]:
df.head()

,DATAFLOW,LAST UPDATE,freq,border,unit,reason,citizen,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:MIGR_EIRFS$DEFAULTVIEW(1.0),NaN,Annual,Total,Person,Total,Total,Austria,2014,455,NaN,NaN
1,ESTAT:MIGR_EIRFS$DEFAULTVIEW(1.0),NaN,Annual,Total,Person,Total,Total,Austria,2015,560,NaN,NaN
2,ESTAT:MIGR_EIRFS$DEFAULTVIEW(1.0),NaN,Annual,Total,Person,Total,Total,Austria,2016,460,NaN,NaN
3,ESTAT:MIGR_EIRFS$DEFAULTVIEW(1.0),NaN,Annual,Total,Person,Total,Total,Austria,2017,740,NaN,NaN
4,ESTAT:MIGR_EIRFS$DEFAULTVIEW(1.0),NaN,Annual,Total,Person,Total,Total,Austria,2018,400,NaN,NaN

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 327 entries, 0 to 326
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     327 non-null    object
 1   LAST UPDATE  0 non-null      float64
 2   freq         327 non-null    object
 3   border       327 non-null    object
 4   unit         327 non-null    object
 5   reason       327 non-null    object
 6   citizen      327 non-null    object
 7   geo          327 non-null    object
 8   TIME_PERIOD  327 non-null    int64
 9   OBS_VALUE    327 non-null    int64
 10  OBS_FLAG     2 non-null      object
 11  CONF_STATUS  0 non-null      float64
dtypes: float64(2), int64(2), object(8)
memory usage: 30.8+ KB

In [20]:
df.duplicated().sum()

np.int64(0)

In [21]:
df.isnull().sum()

DATAFLOW         0
LAST UPDATE    327
freq             0
border           0
unit             0
reason           0
citizen          0
geo              0
TIME_PERIOD      0
OBS_VALUE        0
OBS_FLAG       325
CONF_STATUS    327
dtype: int64

In [22]:
df = df.drop(columns=["DATAFLOW", "LAST UPDATE", "OBS_FLAG", "CONF_STATUS"])

In [23]:
for col in df.columns:
    print(f"Uniques values in {col}: {df[col].unique()}")

Uniques values in freq: ['Annual']
Uniques values in border: ['Total']
Uniques values in unit: ['Person']
Uniques values in reason: ['Total']
Uniques values in citizen: ['Total']
Uniques values in geo: ['Austria' 'Belgium' 'Bulgaria' 'Switzerland' 'Cyprus' 'Czechia' 'Germany'
 'Denmark' 'Estonia' 'Greece' 'Spain'
 'European Union - 27 countries (from 2020)' 'Finland' 'France' 'Croatia'
 'Hungary' 'Ireland' 'Iceland' 'Italy' 'Liechtenstein' 'Lithuania'
 'Luxembourg' 'Latvia' 'Montenegro' 'Malta' 'Netherlands' 'Norway'
 'Poland' 'Portugal' 'Romania' 'Sweden' 'Slovenia' 'Slovakia'
 'United Kingdom']
Uniques values in TIME_PERIOD: [2014 2015 2016 2017 2018 2019 2020 2021 2022 2023]
Uniques values in OBS_VALUE: [   455    560    460    740    400    770    310    555    575    680
   1535   1640   1530   2440   2200   2300   1140   1720   1805   2315
   2405   2170   2870   3220   4245   4685   6180   7955   7230    920
    945    900   1225   1205   1165   1305   2100   1630   1295    425
    415    565   1425   2025    360    440    465    330    365    230
    315    340    290    405   3605   3670   3775   4250   5175   6730
   4210   4635   5970   5820     85    125    120    300    325    650
    480    640    535    510    695    965    875   1175   1635   2120
    500   5465   5855   6445   6890  18145  21175  14295   7015   3145
   3075   5450   7270 172185 168345 192135 203025 230540 493455   3515
   2545   7250 270565 278025 318990 349150 393685 670795 137840 139520
 142420 123260   1590   1070    950   1400   1760   1775   1735   1180
   3985   2225  11030  10860   8580  10215   9515   9880   4240   8210
   9180   9650   8645   9355   9135  10015  13240  13025  14710  14190
  11800  10900  13325  11505   9905  14010  15050  14240  36500  34650
  15780  12575   2475   3450   3950   3745   4795   7455   2790   3725
   9240   7405     15     20     25     55    160   7005   7425   9715
  11260   8245   9720   4060   5760   5795   6295     10      0   3480
   4575   5180   5200   6085   4555   3585   5240   4255      5   2050
    800   1065   1685   1800    855   2260   3625    815    805    520
    275    380    385    110    265    350   2310   2295   2700   2410
   2555   2900   1980   3070    250    525   1975    495    320  20125
  30245  34485  38660  53695  65425  28130  26160  23330  14850    955
   1280   1655   2140   3760   4995   1510   1150   1750   1560   4045
   4810   5390   5305   7260   7640  12570  11010   8945   7155    345
    615   1405    880   1090   1565   1200    550    905   4410   4455
   3680   3535   3875   4260   3905   4025    735    750   1085   1755
   1375    435   1110    985  15905  14950  14480  14280  16540  18275]

In [24]:
df = df[df["geo"] != "European Union - 27 countries (from 2020)"]

In [25]:
df = df.drop(columns=["border", "citizen", "unit", "freq"])
df = df.dropna()

In [26]:
df = df.rename(columns={"OBS_VALUE": "Migrants number"})

In [27]:
df.head()

  reason      geo  TIME_PERIOD  Migrants number
0  Total  Austria         2014              455
1  Total  Austria         2015              560
2  Total  Austria         2016              460
3  Total  Austria         2017              740
4  Total  Austria         2018              400

In [28]:
population_df = pd.read_csv('../../data/population_data_tps00001.csv')
population_df = population_df.drop(columns=["DATAFLOW", "LAST UPDATE", "freq", "indic_de", "OBS_FLAG", "CONF_STATUS"])
population_df = population_df.rename(columns={"OBS_VALUE": "Population"})
merged_df = df.merge(population_df, how="left", left_on=["TIME_PERIOD", "geo"], right_on=["TIME_PERIOD", "geo"])

In [29]:
merged_df["Migrants number per 100k inhabitants"] = round(
    merged_df["Migrants number"] / merged_df["Population"] * 100_000, 2)

In [30]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 6 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   reason                                317 non-null    object
 1   geo                                   317 non-null    object
 2   TIME_PERIOD                           317 non-null    int64
 3   Migrants number                       317 non-null    int64
 4   Population                            317 non-null    int64
 5   Migrants number per 100k inhabitants  317 non-null    float64
dtypes: float64(1), int64(3), object(2)
memory usage: 15.0+ KB

In [31]:
merged_df = merged_df.drop(columns=["Population"])

In [32]:
merged_df.to_csv("../../processed_data/migrants_refused_entry_ar_the_border.csv", index=False)